public/schemas/interface/SBSA/HSM/PS_HSM_SecurityAuthenticateMessageSRVV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://standardbank.co.za/sa/services/Technical/Integration/Integration/PS_HSM_SecurityV1/AuthenticateMessage" xmlns:ifx="http://standardbank.co.za/sa/services/Global/IfxV2_2/BaseV1_0" xmlns:hdr="http://standardbank.co.za/sa/services/Global/IfxV2_1/HeaderV2_0" targetNamespace="http://standardbank.co.za/sa/services/Technical/Integration/Integration/PS_HSM_SecurityV1/AuthenticateMessage" elementFormDefault="qualified">
	<xsd:import namespace="http://standardbank.co.za/sa/services/Global/IfxV2_1/HeaderV2_0" schemaLocation="MessageHeadersV2_0.xsd"/>
	<xsd:import namespace="http://standardbank.co.za/sa/services/Global/IfxV2_2/BaseV1_0" schemaLocation="PS_HSM_SecurityAuthenticateMessageIFXV1_0.xsd"/>
	<xsd:element name="AuthenticateMessage" type="MsgAuthAddRq_Type"/>
	<xsd:element name="AuthenticateMessageResponse" type="MsgAuthAddRs_Type"/>
	<xsd:element name="ChainVector" type="ChainVector_Type"/>
	<xsd:simpleType name="ChainVector_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="MacControl" type="MacControl_Type"/>
	<xsd:simpleType name="MacControl_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="MacKey" type="MacKey_Type"/>
	<xsd:simpleType name="MacKey_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="MacLength" type="MacLength_Type"/>
	<xsd:simpleType name="MacLength_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="MacRule" type="MacRule_Type"/>
	<xsd:simpleType name="MacRule_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Message" type="Message_Type"/>
	<xsd:simpleType name="Message_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="10000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MsgAuthAddRq_Type">
		<xsd:sequence>
			<xsd:element ref="hdr:RqUID"/>
			<xsd:element ref="hdr:MsgRqHdr"/>
			<xsd:element ref="MsgAuthInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MsgAuthAddRs_Type">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element ref="hdr:Status"/>
				<xsd:element ref="hdr:RqUID"/>
				<xsd:element ref="hdr:MsgRsHdr"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="MsgAuthStatusRec"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MsgAuthInfo" type="MsgAuthInfo_Type"/>
	<xsd:complexType name="MsgAuthInfo_Type">
		<xsd:sequence>
			<xsd:element ref="MacKey">
				<xsd:annotation>
					<xsd:documentation>Key used for Mac calculation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MacRule"/>
			<xsd:element ref="MacLength"/>
			<xsd:element ref="MacControl"/>
			<xsd:element ref="ChainVector"/>
			<xsd:element ref="MsgLength"/>
			<xsd:element ref="Message"/>
			<xsd:element ref="ifx:MacValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MsgAuthStatusRec" type="MsgAuthStatusRec_Type"/>
	<xsd:complexType name="MsgAuthStatusRec_Type">
		<xsd:sequence>
			<xsd:element name="MsgAuthStatusCode" type="ifx:OpenEnum_Type"/>
			<xsd:element ref="ifx:StatusDesc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MsgLength" type="MsgLength_Type"/>
	<xsd:simpleType name="MsgLength_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
