public/schemas/interface/SBSA/HSM/PS_HSM_SecurityAuthenticateMessageIFXV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://standardbank.co.za/sa/services/Global/IfxV2_2/BaseV1_0" targetNamespace="http://standardbank.co.za/sa/services/Global/IfxV2_2/BaseV1_0" elementFormDefault="qualified">
	<xsd:simpleType name="C">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="HexBinary">
		<xsd:restriction base="xsd:hexBinary">
			<xsd:pattern value="[0-9A-Fa-f]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MacValue_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="OpenEnum_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StatusDesc_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="MacValue" type="MacValue_Type"/>
	<xsd:element name="StatusDesc" type="StatusDesc_Type"/>
</xsd:schema>
