public/schemas/interface/SBSA/DebitOrderMandateValidateAccountIFXV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://standardbank.com/group/services/Global/IfxV2_2/BaseV1_0" targetNamespace="http://standardbank.com/group/services/Global/IfxV2_2/BaseV1_0" elementFormDefault="qualified">
	<xsd:simpleType name="ACBIdentXSB_Type">
		<xsd:restriction base="C"/>
	</xsd:simpleType>
	<xsd:simpleType name="AcctIdentValue_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AcctSerialNumValueXSB_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppIdent_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppPan_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AppPanSeq_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Boolean_Type">
		<xsd:annotation>
			<xsd:documentation>Boolean indicates a logical True or False condition.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="BranchIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="C">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CardNum_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CardSeqNum_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Desc_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddr_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FIIdent_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="34"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="HexBinary">
		<xsd:restriction base="xsd:hexBinary">
			<xsd:pattern value="[0-9A-Fa-f]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>Object identifiers in the IFX Specification are of the data type "Identifier."  This is a Narrow Character data type with a maximum length of 36.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NC">
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IfxPath_Type">
		<xsd:annotation>
			<xsd:documentation>Elements of type IfxPath are elements of string data type used to express a field or record within an IFX Object.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="IssuedIdentValue_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoginAuthority_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LoginName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MagData1_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="79"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MagData2_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MagData3_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="107"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NC">
		<xsd:annotation>
			<xsd:documentation>Elements of type Narrow Character are elements of character data type with the additional restriction that the only allowable characters are those contained within the ISO Latin-1 character set.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="OpenEnum_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PhoneNumber_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductIdent_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="42"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SvcName_Type">
		<xsd:restriction base="C">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Trk2EquivData_Type">
		<xsd:restriction base="HexBinary">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="URL_Type">
		<xsd:restriction base="NC">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AcctIdent_Type">
		<xsd:sequence>
			<xsd:element ref="AcctIdentType" minOccurs="0"/>
			<xsd:element ref="AcctIdentValue" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BaseKeys_Type">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="CardChipData_Type">
		<xsd:sequence>
			<xsd:element ref="AppPan" minOccurs="0"/>
			<xsd:element ref="AppPanSeq" minOccurs="0"/>
			<xsd:element ref="AppIdent" minOccurs="0"/>
			<xsd:element ref="Trk2EquivData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CardKeys_Type">
		<xsd:complexContent>
			<xsd:extension base="BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="CardId"/>
						<xsd:sequence>
							<xsd:element ref="CardNum"/>
							<xsd:element ref="CardSeqNum" minOccurs="0"/>
						</xsd:sequence>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CardMagData_Type">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element ref="MagData1" minOccurs="0"/>
				<xsd:element ref="MagData2" minOccurs="0"/>
				<xsd:element ref="MagData3" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CountryCode_Type">
		<xsd:sequence>
			<xsd:element ref="CountryCodeSource" minOccurs="0"/>
			<xsd:element ref="CountryCodeValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Email_Type">
		<xsd:complexContent>
			<xsd:extension base="Locator_Type">
				<xsd:sequence>
					<xsd:element ref="EmailType" minOccurs="0"/>
					<xsd:element ref="EmailAddr"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Locator_Type">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:complexType name="LoginIdent_Type">
		<xsd:sequence>
			<xsd:element ref="LoginAuthority" minOccurs="0"/>
			<xsd:element ref="LoginName"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartyKeys_Type">
		<xsd:complexContent>
			<xsd:extension base="BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="PartyId"/>
						<xsd:element ref="LoginIdent"/>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SvcIdent_Type">
		<xsd:sequence>
			<xsd:element ref="SvcProviderName" minOccurs="0"/>
			<xsd:element ref="SvcName" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AcctId" type="Identifier_Type"/>
	<xsd:element name="AcctIdent" type="AcctIdent_Type"/>
	<xsd:element name="AcctIdentType">
		<xsd:simpleType>
			<xsd:restriction base="OpenEnum_Type">
				<xsd:enumeration value="AcctNum"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AcctIdentValue" type="AcctIdentValue_Type"/>
	<xsd:element name="AcctTypeSource" type="OpenEnum_Type"/>
	<xsd:element name="AcctTypeValue" type="OpenEnum_Type"/>
	<xsd:element name="AppIdent" type="AppIdent_Type"/>
	<xsd:element name="AppPan" type="AppPan_Type"/>
	<xsd:element name="AppPanSeq" type="AppPanSeq_Type"/>
	<xsd:element name="BranchIdent" type="BranchIdent_Type"/>
	<xsd:element name="CardChipData" type="CardChipData_Type"/>
	<xsd:element name="CardId" type="Identifier_Type"/>
	<xsd:element name="CardKeys" type="CardKeys_Type"/>
	<xsd:element name="CardMagData" type="CardMagData_Type"/>
	<xsd:element name="CardNum" type="CardNum_Type"/>
	<xsd:element name="CardSeqNum" type="CardSeqNum_Type"/>
	<xsd:element name="CommunicationMethod" type="OpenEnum_Type"/>
	<xsd:element name="CountryCode" type="CountryCode_Type"/>
	<xsd:element name="CountryCodeSource" type="OpenEnum_Type"/>
	<xsd:element name="CountryCodeValue" type="OpenEnum_Type"/>
	<xsd:element name="CurCodeType" type="OpenEnum_Type"/>
	<xsd:element name="CurCodeValue" type="OpenEnum_Type"/>
	<xsd:element name="Desc" type="Desc_Type"/>
	<xsd:element name="Email" type="Email_Type"/>
	<xsd:element name="EmailAddr" type="EmailAddr_Type"/>
	<xsd:element name="EmailType" type="OpenEnum_Type"/>
	<xsd:element name="FIIdent" type="FIIdent_Type"/>
	<xsd:element name="IssuedIdentType" type="OpenEnum_Type"/>
	<xsd:element name="IssuedIdentValue" type="IssuedIdentValue_Type"/>
	<xsd:element name="LoginAuthority" type="LoginAuthority_Type"/>
	<xsd:element name="LoginIdent" type="LoginIdent_Type"/>
	<xsd:element name="LoginName" type="LoginName_Type"/>
	<xsd:element name="MagData1" type="MagData1_Type"/>
	<xsd:element name="MagData2" type="MagData2_Type"/>
	<xsd:element name="MagData3" type="MagData3_Type"/>
	<xsd:element name="PartyId" type="Identifier_Type"/>
	<xsd:element name="PartyKeys" type="PartyKeys_Type"/>
	<xsd:element name="Phone" type="PhoneNumber_Type"/>
	<xsd:element name="PhoneType" type="OpenEnum_Type"/>
	<xsd:element name="PreferredInd" type="Boolean_Type"/>
	<xsd:element name="ProductIdent" type="ProductIdent_Type"/>
	<xsd:element name="RecSelect" type="IfxPath_Type"/>
	<xsd:element name="SvcIdent" type="SvcIdent_Type"/>
	<xsd:element name="SvcName" type="SvcName_Type"/>
	<xsd:element name="SvcProviderName" type="URL_Type"/>
	<xsd:element name="Trk2EquivData" type="Trk2EquivData_Type"/>
</xsd:schema>
