public/schemas/interface/SBSA/DebitOrderMandateValidateAccountSBGV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ifx="http://standardbank.com/group/services/Global/IfxV2_2/BaseV1_0" xmlns="http://standardbank.com/group/services/Global/IfxV2_2/SbgV1_0" targetNamespace="http://standardbank.com/group/services/Global/IfxV2_2/SbgV1_0" elementFormDefault="qualified">
	<xsd:import namespace="http://standardbank.com/group/services/Global/IfxV2_2/BaseV1_0" schemaLocation="DebitOrderMandateValidateAccountIFXV1_0.xsd"/>
	<xsd:element name="ACBIdent" type="ifx:ACBIdentXSB_Type"/>
	<xsd:element name="AcctKeys" type="AcctKeys_Type">
		<xsd:annotation>
			<xsd:documentation>Account Identifier Aggregate</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcctKeys_Type">
		<xsd:complexContent>
			<xsd:extension base="ifx:BaseKeys_Type">
				<xsd:sequence>
					<xsd:element ref="ifx:SvcIdent" minOccurs="0"/>
					<xsd:choice>
						<xsd:element ref="ifx:AcctId"/>
						<xsd:sequence minOccurs="0">
							<xsd:choice minOccurs="0">
								<xsd:element ref="ifx:CardMagData"/>
								<xsd:element ref="ifx:CardKeys">
									<xsd:annotation>
										<xsd:documentation>Card Keys Aggregate</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="ifx:CardChipData">
									<xsd:annotation>
										<xsd:documentation>Card Chip Data</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element ref="ifx:AcctIdent">
									<xsd:annotation>
										<xsd:documentation>Account Identifier Aggregate</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
							<xsd:element ref="AcctType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Account Type Aggregate</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="CurCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Currency Code. The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="ACBIdent" minOccurs="0"/>
							<xsd:element ref="ifx:FIIdent" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Financial Institution Identifier Type. Type of Financial Institution identifier</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="ifx:BranchIdent" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Branch Identifier. Qualifies account number if required by FI in profile. Used to indicate which branch the account is with.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="CountryCode" minOccurs="0"/>
							<xsd:element ref="AcctSerialNumValue" minOccurs="0"/>
							<xsd:element ref="AcctSrcSystemId" minOccurs="0"/>
						</xsd:sequence>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="AcctSerialNumValue" type="ifx:AcctSerialNumValueXSB_Type"/>
	<xsd:element name="AcctSrcSystemId" type="AcctSrcSystemId_Type">
		<xsd:annotation>
			<xsd:documentation>The provider system code of the applicable source system or Partner System through which the request to open the account was opened</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="AcctSrcSystemId_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="AcctType" type="AcctType_Type"/>
	<xsd:complexType name="AcctType_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:AcctTypeValue"/>
			<xsd:element ref="ifx:AcctTypeSource" minOccurs="0"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CountryCode" type="CountryCode_Type"/>
	<xsd:complexType name="CountryCode_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:CountryCodeSource" minOccurs="0"/>
			<xsd:element ref="ifx:CountryCodeValue"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CurCode" type="CurCode_Type"/>
	<xsd:complexType name="CurCode_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:CurCodeType" minOccurs="0"/>
			<xsd:element ref="ifx:CurCodeValue"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Extension" type="Extension_Type">
		<xsd:annotation>
			<xsd:documentation>The Extension number for the mechanism</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="Extension_Type">
		<xsd:restriction base="ifx:NC">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="IssueIdentSumry" type="IssueIdentSumry_Type"/>
	<xsd:complexType name="IssueIdentSumry_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:IssuedIdentType" minOccurs="0"/>
			<xsd:element ref="ifx:IssuedIdentValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PhoneNum" type="PhoneNum_Type">
		<xsd:annotation>
			<xsd:documentation>The party phone information</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PhoneNum_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:PhoneType" minOccurs="0"/>
			<xsd:element ref="ifx:Phone"/>
			<xsd:element ref="ifx:CountryCode" minOccurs="0"/>
			<xsd:element ref="Extension" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
