public/schemas/interface/SBSA/DebitOrderMandateValidateAccountSRVV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2016 sp1 (http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://standardbank.com/group/services/Information/BusinessPartner/DebitOrderMandateV1/ValidateAccount" xmlns:ifx="http://standardbank.com/group/services/Global/IfxV2_2/BaseV1_0" xmlns:sbg="http://standardbank.com/group/services/Global/IfxV2_2/SbgV1_0" xmlns:hdr="http://standardbank.com/group/services/Global/IfxV2_2/HeaderV1_0" targetNamespace="http://standardbank.com/group/services/Information/BusinessPartner/DebitOrderMandateV1/ValidateAccount" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://standardbank.com/group/services/Global/IfxV2_2/SbgV1_0" schemaLocation="DebitOrderMandateValidateAccountSBGV1_0.xsd"/>
	<xsd:import namespace="http://standardbank.com/group/services/Global/IfxV2_2/HeaderV1_0" schemaLocation="MessageHeadersV1_0.xsd"/>
	<xsd:import namespace="http://standardbank.com/group/services/Global/IfxV2_2/BaseV1_0" schemaLocation="DebitOrderMandateValidateAccountIFXV1_0.xsd"/>
	<xsd:element name="AcctOverallStatus" type="AcctOverallStatus_Type"/>
	<xsd:complexType name="AcctOverallStatus_Type">
		<xsd:sequence>
			<xsd:element ref="OverallStatusCode"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AcctStyle" type="AcctStyle_Type">
		<xsd:annotation>
			<xsd:documentation>The account style uniquely identifies an account style according to a label established by the financial institution. The complete list of account styles can be found in GTS table '122 – Account Style’.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcctStyle_Type">
		<xsd:sequence>
			<xsd:element ref="AcctStyleCode"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AcctStyleCode" type="ifx:OpenEnum_Type"/>
	<xsd:element name="AcctValidationCode" type="ifx:OpenEnum_Type"/>
	<xsd:element name="CommunicationType" type="CommunicationType_Type">
		<xsd:annotation>
			<xsd:documentation>Preferred communication method </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CommunicationType_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:CommunicationMethod"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ContactDetails" type="ContactDetails_Type"/>
	<xsd:complexType name="ContactDetails_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:PreferredInd" minOccurs="0"/>
			<xsd:choice>
				<xsd:element ref="sbg:PhoneNum"/>
				<xsd:element ref="ifx:Email"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MandateAcctGetRq_Type">
		<xsd:sequence>
			<xsd:element ref="hdr:RqUID"/>
			<xsd:element ref="hdr:MsgRqHdr"/>
			<xsd:element ref="hdr:CountryCode" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="MandateAcctGetSel"/>
				<xsd:element ref="ifx:RecSelect"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MandateAcctGetRs_Type">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element ref="hdr:Status"/>
				<xsd:element ref="hdr:RqUID"/>
				<xsd:element ref="hdr:MsgRsHdr"/>
				<xsd:element ref="hdr:CountryCode" minOccurs="0"/>
			</xsd:sequence>
			<xsd:sequence minOccurs="0">
				<xsd:element ref="MandateAcctRec" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MandateAcctGetSel" type="MandateAcctGetSel_Type"/>
	<xsd:complexType name="MandateAcctGetSel_Type">
		<xsd:sequence>
			<xsd:element ref="MandateMsgId"/>
			<xsd:element ref="sbg:IssueIdentSumry"/>
			<xsd:element ref="sbg:AcctKeys"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MandateAcctInfo" type="MandateAcctInfo_Type"/>
	<xsd:complexType name="MandateAcctInfo_Type">
		<xsd:sequence>
			<xsd:element ref="sbg:IssueIdentSumry" minOccurs="0"/>
			<xsd:element ref="sbg:AcctKeys" minOccurs="0"/>
			<xsd:element ref="AcctOverallStatus" minOccurs="0"/>
			<xsd:element ref="AcctStyle" minOccurs="0"/>
			<xsd:element ref="CommunicationType" minOccurs="0"/>
			<xsd:element ref="ContactDetails" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="ifx:PartyKeys" minOccurs="0"/>
			<xsd:element ref="AcctValidationCode" minOccurs="0"/>
			<xsd:element ref="ProductIdentData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MandateAcctRec" type="MandateAcctRec_Type"/>
	<xsd:complexType name="MandateAcctRec_Type">
		<xsd:sequence>
			<xsd:element ref="MandateMsgId"/>
			<xsd:element ref="MandateAcctInfo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MandateMsgId" type="MandateMsgId_Type"/>
	<xsd:simpleType name="MandateMsgId_Type">
		<xsd:restriction base="ifx:C">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="OverallStatusCode" type="ifx:OpenEnum_Type"/>
	<xsd:element name="ProductIdentData" type="ProductIdentData_Type"/>
	<xsd:complexType name="ProductIdentData_Type">
		<xsd:sequence>
			<xsd:element ref="ifx:ProductIdent"/>
			<xsd:element ref="ifx:Desc" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ValidateAccount" type="MandateAcctGetRq_Type"/>
	<xsd:element name="ValidateAccountResponse" type="MandateAcctGetRs_Type"/>
</xsd:schema>
