public/schemas/admi.014.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: NPP AU
Collection: NPP_AU_General_SR2015_03May2016
Usage Guideline: NPP_AU_General_SR2015_DeliveryStatusNotificationV02_admi.014.001.02
Base Message: admi.014.001.02
Date of publication: 03 May 2016
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_9GSS4BDREeaWk4yhYrRh8g/_9GSS4RDREeaWk4yhYrRh8g
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2016-05-04T23:32:38+00:00
NPP AU notices : null
-->
<!---->
<xs:schema xmlns="urn:swift:xsd:admi.014.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:admi.014.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessApplicationHeader3__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeader3__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies specific data from the Business Application Header of the Business Message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fr" type="Party29Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.&#13;
&#13;
Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="To" type="Party29Choice__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.&#13;
&#13;
Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BizMsgIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessMessageIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgDefIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageDefinitionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains the MessageIdentifier that defines the BusinessMessage.&#13;
It must contain a MessageIdentifier published on the ISO 20022 website.&#13;
&#13;
example	camt.001.001.03</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizSvc" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessService</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the business service agreed between the two MessagingEndpoints under which rules this Business Message is exchanged.&#13;
 To be used when there is a choice of processing services or processing service levels.&#13;
Example: E&amp;I</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDt" type="ISONormalisedDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time when this Business Message (header) was created.&#13;
Note    Times must be normalized, using the "Z" annotation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeliveryStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides an explicit indication whether the delivery attempt resulted in success or failure. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Failure</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delivery failed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Success</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delivery succeeded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliveryStatusNotificationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryStatusNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The DeliveryStatusNotification message is sent by a local application to a back-office application. It is used to inform the back-office application of either failed delivery, or, optionally, successful delivery of the referenced message.&#13;
Usage&#13;
For failed delivery, the DeliveryStatusNotification message informs the back-office application that a message previously emitted could not be delivered to the intended recipient for whatever reasons as indicated in the error information.  It provides information to identify the message in error. In cases where the message content is unable to be interpreted by the local application, the first 1K characters of the referenced message are reported to facilitate further analysis at the back-office.&#13;
For successful delivery, if the message partner configuration data indicates to do so, the local application sends the DeliveryStatusNotification message to a back-office application to inform that the referenced message was delivered successfully. It provides information to identify the delivered message.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.&#13;
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISONormalisedDateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DlvrySts" type="DeliveryStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides an explicit indication whether the delivery attempt resulted in success or failure. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizApplHdr" type="BusinessApplicationHeader3__1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessApplicationHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business Application Header information for the message previously received and for which the delivery status is notified.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlRef" type="RelatedReference1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifiers related to the message previously received and for which the delivery status is notified.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMsgCntt" type="Max2KBinary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalMessageContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the first 1024 characters of the original message, base64 encoded. Used in cases where the original message content is unable to be interpreted by the local application. The element size allows for the situation where in applying the encoding, the result is greater than 1024 characters. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TechErrInf" type="TechnicalError1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TechnicalErrorInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies information concerning the technical error that prevented delivery of the referenced message by the local application.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DlvryStsNtfctn" type="DeliveryStatusNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ErrorSeverity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorSeverity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the severity of the related error.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FATL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fatal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The error is considered fatal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The error is considered transient.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTechnicalError1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalTechnicalError1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the technical error, as published in an external technical error code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification8__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISONormalisedDateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">an ISODateTime whereby all timezoned dateTime values are UTC.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max105Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 105 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2KBinary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max2KBinary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Binary data of 2K maximum.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Party29Choice__1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party29Choice__1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5__1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelatedReference1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RelatedReference1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reference of the message previously received and for which the delivery status is notified.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxUnqIdr" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionUniqueIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique transaction identifier assigned by the local application.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message reference assigned by the original message sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechnicalError1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TechnicalError1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies information concerning the technical error that prevented delivery of the referenced messaging by the payment gateway application.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="svrty" type="ErrorSeverity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Severity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the severity of the related error.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ErrCd" type="TechnicalError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ErrorCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the error code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechnicalError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TechnicalError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the technical error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalTechnicalError1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the technical error, as published in an external technical error code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the technical error, in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
