public/schemas/FED_Funds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	targetNamespace="urn:fundtech:scl:FED_FUNDS"
	xmlns:tns="urn:fundtech:scl:FED_FUNDS" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"  >
  <xs:element name="FED_FUNDS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OMAD_1120" type="xs:string"/>
        <xs:element name="Type_SubType_1510" type="xs:string"/>
        <xs:element name="IMAD_1520" type="xs:string"/>
        <xs:element name="Amount_2000" type="xs:decimal"/>
        <xs:element name="currency" type="tns:Currency"/>
        <xs:element name="date" type="xs:date"/>
        <xs:element name="Sender_Bank_3100" type="tns:TransmitterType"/>     
        <xs:element name="Sender_Reference_3320" type="xs:string"/>
        <xs:element name="Receiver_Bank_3400" type="tns:TransmitterType"/>
        <xs:element name="Previous_IMAD_3500" type="xs:string"/>
        <xs:element name="Business_Function_3600" type="tns:BFCType"/>
        <xs:element name="Local_Instrument_3610" type="xs:string"/>
        <xs:element name="Payment_Notification_3620" type="tns:PayNotificationType"/>
        <xs:element name="Charges_3700" type="tns:ChargesType"/>
        <xs:element name="Instructed_Amount_3710" type="tns:CurrencyAndAmount2Type"/>
        <xs:element name="Exchange_Rate_3720" type="tns:Amount1Type"/>
        <xs:element name="Intermediary_Bank_4000" type="tns:PartyType"/>
        <xs:element name="Beneficiary_Bank_4100" type="tns:PartyType"/>      
        <xs:element name="Beneficiary_4200" type="tns:PartyExt2"/>
        <xs:element name="Beneficiary_Reference_4320" type="xs:string"/>  
        <xs:element name="Drawdown_Debit_Account_4400" type="tns:PartyType"/>
        <xs:element name="Originator_5000_5010" type="tns:PartyExt2"/>
        <xs:element name="Originator_Bank_5100" type="tns:PartyType"/>
        <xs:element name="Instructing_Bank_5200" type="tns:PartyType"/>
        <xs:element minOccurs="0" maxOccurs="4" name="Originator_Beneficiary_Information_6000" type="tns:CommonText4"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="RtrRsnInf" type="tns:ReturnReasonInformation"/>
        <xs:element name="Bank_To_Bank_Info_6xxx" type="tns:BankToBankInfoType"/>
        <xs:element name="SequenceB" type="tns:SequenceBType"/>
        <xs:element name="Remittance" type="tns:RemittanceType"/>
        <xs:element maxOccurs="12" minOccurs="0" name="Free_Text_9000" type="tns:CommonText"/>
        <xs:element name="Original_FED_Message" type="xs:string"/> 
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BFCType">
    <xs:sequence>
      <xs:element name="Business_Function_Code" type="xs:string"/>
      <xs:element name="Transaction_Type_Code" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayNotificationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Type">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:pattern value="[0-9]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ContactInformation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChargesType">
    <xs:sequence>
      <xs:element name="ChargeDetails">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CRED"/>
            <xs:enumeration value="SHAR"/>
            <xs:enumeration value="DEBT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element> 
      <xs:element minOccurs="1" maxOccurs="4" name="SenderCharges" type="tns:CurrencyAndAmount1Type"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="BankToBankInfoType">
    <xs:sequence>
      <xs:element minOccurs="0"  maxOccurs="6" name="NextAgent" type="tns:BankToBankInfo"/>
      <xs:element minOccurs="0"  maxOccurs="6" name="CreditorAgent" type="tns:BankToBankInfo"/>
      <xs:element minOccurs="0"  maxOccurs="6" name="UltimateDebtorAgent" type="tns:BankToBankInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransmitterType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ClrSysCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ABA">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="9"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyType">
    <xs:sequence>
      <xs:element name="BIC" type="tns:BIC"/>
      <xs:element minOccurs="0" maxOccurs="1" name="AccountSchemeCode" type="tns:CommonText5"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Account">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Account_IBAN">
        <xs:simpleType>
          <xs:restriction base="xs:string">
             <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ClrSysCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ClrSysIdentifier">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Location" type="tns:CommonText" />
      <xs:element maxOccurs="3" minOccurs="0" name="Address_Details" type="tns:AddressInfo"/>     
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyExt1">
    <xs:complexContent>
      <xs:extension base="tns:PartyType">
       <xs:sequence>
		  <xs:element name="PersonalInformation" type="tns:PersonIdentification1"/>
       </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyExt2">
    <xs:complexContent>
      <xs:extension base="tns:PartyExt1">
      <xs:sequence>
        <xs:element name="Othr" type="tns:OthrTp" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OthrTp">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="OtherIdCode">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="5"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="OtherIdentifier">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="34"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Issuer" type="tns:CommonText"/>
        </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SequenceBType">
    <xs:sequence>
      <xs:element name="Instructed_Amount_7033" type="tns:CurrencyAndAmount2Type"/>
      <xs:element name="Originator_7050" type="tns:PartyExt2"/>
      <xs:element name="Originator_Bank_7052" type="tns:PartyType"/>
      <xs:element name="Intermediary_Bank_7056" type="tns:PartyType"/>
      <xs:element name="Beneficiary_Bank_7057" type="tns:PartyType"/>
      <xs:element name="Beneficiary_7059" type="tns:PartyType"/>
      <xs:element maxOccurs="4" minOccurs="0" name="Originator_Beneficiary_Information_7070" type="tns:CommonText"/>
      <xs:element name="Instructing_Bank_7072" type="tns:PartyType"/>
      <xs:element maxOccurs="6" minOccurs="0" name="Bank_To_Bank_Information_7072" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceType">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="Unstructured_Addenda_Info_8200" type="tns:RemitText"/>
        <xs:element minOccurs="1" maxOccurs="1" name="Related_Remittance_Info_8250" type="tns:RelatedRemittance"/>
        <xs:element minOccurs="0" maxOccurs="1" name="Structured" type="tns:StructuredRemittance"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceParty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="tns:CommonText4"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="tns:RemitPartyChoice"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryResidence" type="tns:CountryCode"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ResidenceInfo" type="tns:PostalAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittancePartyExt">
    <xs:complexContent>
      <xs:extension base="tns:PartyType">
        <xs:sequence>
           <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="tns:ContactInformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuredRemittance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Remittance_Originator_8300" type="tns:RemittancePartyExt"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Remittance_Beneficiary_8350" type="tns:RemittanceParty"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Remittance_Doc" type="tns:Remittance_Documents"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AddressType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Department" type="tns:CommonText2"/>
      <xs:element minOccurs="0" maxOccurs="1" name="SubDepartment" type="tns:CommonText2"/>
      <xs:element minOccurs="0" maxOccurs="1" name="StreetName" type="tns:CommonText2"/>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildingNumber" type="tns:CommonText3"/>
      <xs:element minOccurs="0" maxOccurs="1" name="PostalCode" type="tns:CommonText3"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TownName" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CountrySubDivision" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="tns:CountryCode"/>
      <xs:element maxOccurs="7" minOccurs="0" name="Address" type="tns:CommonText2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedRemittance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Identification" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="LocationMethod" type="tns:LocationMethodCode"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="tns:EmailAddress"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="tns:CommonText4"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ResidenceInfo" type="tns:PostalAddress"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Organization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BIC" type="tns:BIC"/>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentifierCode">
      	<xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="BANK"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="DUNS"/>
            <xs:enumeration value="EMPL"/>
            <xs:enumeration value="GS1G"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="SWBB"/>
            <xs:enumeration value="TXID"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Identifier" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Issuer" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification1">
    <xs:sequence>
      <xs:element name="BirthDate" type="xs:date"/>
      <xs:element name="BirthCity" type="tns:CommonText"/>
      <xs:element name="BirthCountry" type="tns:CountryCode"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TownName" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Country" type="tns:CountryCode"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Issuer" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="PstlCd" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CtrySubDiv" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentifierCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CCPT"/>
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="DPOB"/>
            <xs:enumeration value="DRLC"/>
            <xs:enumeration value="EMPL"/>
            <xs:enumeration value="NIDN"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="SOSE"/>
            <xs:enumeration value="TXID"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Identifier" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Issuer" type="tns:CommonText"/>
      <xs:element name="BirthDate" type="xs:date"/>
      <xs:element minOccurs="0" maxOccurs="1" name="BirthProvince" type="tns:CommonText"/>
      <xs:element name="BirthCity" type="tns:CommonText"/>
      <xs:element name="BirthCountry" type="tns:CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="tns:EmailAddress"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="tns:CommonText4"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Mobile" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="OtherInformation" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemitPartyChoice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="RemitOrg" type="tns:Organization"/>
        <xs:element name="RemitIndividual" type="tns:PersonIdentification2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentInformation">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="DocTypeCode" type="xs:string"/>
        <xs:element minOccurs="0" maxOccurs="1" name="PropDocTypeCode" type="tns:CommonText"/>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="DocIDNumber" type="tns:CommonText"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Issuer" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdjustmentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Adjustment" type="tns:CurrencyAndAmount3Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CreditDebitInd">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AdjustmentReason" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="AdditionalInfo" type="tns:CommonText4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Remittance_Documents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Primary_Remittance_Doc_Info_8400" type="tns:DocumentInformation"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Remittance_Doc_Actual_Amount_8450" type="tns:CurrencyAndAmount3Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Remittance_Doc_Gross_Amount_8500" type="tns:CurrencyAndAmount3Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Remittance_Doc_Negotiated_Discount_Amount_8550" type="tns:CurrencyAndAmount3Type"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Remittance_Doc_Adjustment_Info_8600" type="tns:AdjustmentInfo"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Remittance_Doc_Date_8650" type="xs:date"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Secondary_Remittance_Doc_Info_8700" type="tns:DocumentInformation"/>
      <xs:element maxOccurs="3" minOccurs="0" name="Remittance_Doc_Additional_Info_8750" type="tns:CommonText4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BankToBankInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="tns:CommonText5"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Information" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CurrencyAndAmount1Type">
    <xs:sequence>
      <xs:element name="Currency" type="tns:Currency"/>
      <xs:element name="Amount" type="tns:Amount1Type"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="CurrencyAndAmount2Type">
    <xs:sequence>
      <xs:element name="Currency" type="tns:Currency"/>
      <xs:element name="Amount" type="tns:Amount2Type"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="CurrencyAndAmount3Type">
    <xs:sequence>
      <xs:element name="Currency" type="tns:Currency"/>
      <xs:element name="Amount" type="tns:Amount3Type"/>
    </xs:sequence>
  </xs:complexType>  
  <xs:complexType name="ReturnReasonInformation">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="tns:CommonText"/>
      <xs:element maxOccurs="1" minOccurs="0" name="RtrId" type="tns:CommonText"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlInf" type="tns:Max105Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressInfo">
    <xs:sequence>
       <xs:element minOccurs="0" maxOccurs="3" name="Address" type="tns:CommonText" />
       <xs:element minOccurs="0" maxOccurs="1" name="Cntry" type="tns:CommonText"/>
       <xs:element minOccurs="0" maxOccurs="1" name="City" type="tns:CommonText"/>
       <xs:element minOccurs="0" maxOccurs="1" name="PstlCd" type="tns:CommonText"/>
       <xs:element minOccurs="0" maxOccurs="1" name="SubDv" type="tns:CommonText"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Amount1Type">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="10" />
      <xs:totalDigits value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Amount2Type">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="13" />
      <xs:totalDigits value="14" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Amount3Type">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="17" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LocationMethodCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAXI"/>
      <xs:enumeration value="EDIC"/>
      <xs:enumeration value="URID"/>
      <xs:enumeration value="EMAL"/>
      <xs:enumeration value="POST"/>
      <xs:enumeration value="SMSM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EmailAddress">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommonText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommonText2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommonText3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CommonText4">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RemitText">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="8994"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BIC">
    <xs:restriction base="xs:string">
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType  name="CommonText5">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max105Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="105"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>