public/schemas/FundtechCanonicalPyamentModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="urn:fundtech/scl/CanonicalPayment" xmlns:commTypes="http://fundtech.com/SCL/CommonTypes" 
	elementFormDefault="qualified" targetNamespace="urn:fundtech/scl/CanonicalPayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
  <xsd:import namespace="http://fundtech.com/SCL/CommonTypes" schemaLocation="CommonTypes.xsd" />
 
  <xsd:element name="Payment" type="tns:X_PMT_INFO_Type" />
  <xsd:element name="OrigPayment" type="tns:OX_PMT_INFO_Type" />
  
  <xsd:complexType name="OX_PMT_INFO_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_GRP_INFO" type="tns:GRP_INFO_Type">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 X_MSG_ID
		 				 X_STTLM_MTD
		 				 X_TX_NO
		 				 X_VALIDATION_FLAG
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR_AGT" type="tns:FinancialInstIdType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>No Children is this even a group?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR" type="tns:PartyIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 ADRLINE
		 				 BIC
		 				 CTRY
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR" type="tns:PartyIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 ADRLINE
		 				 BIC
		 				 CTRY
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR_AGT_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INITG_PTY" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTD_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTG_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTG_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_STTLM_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_THRD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="X_PMT_INFO_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_GRP_INFO" type="tns:GRP_INFO_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR_AGT" type="tns:FinancialInstIdType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR_AGT_ACCT" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR_ACCT" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				CTRY_2AND
						ID_2AND
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				BBAN
		 				NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				CTRY_2AND
						ID_2AND
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				BBAN
		 				NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				CTRY_2AND
						ID_2AND
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				BBAN
		 				NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR_AGT_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INITG_PTY" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						BBAN
						IBAN
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTD_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTG_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTG_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_STTLM_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						BBAN
						NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_THRD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						Additional Suspect fields :
							X_THRD_RMB_AGT (group (itself) remove from master)
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PartyIdInfoType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="ADRLINE" type="commTypes:Max70Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="BIC" type="commTypes:BICType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CTRY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="NM" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="AcctIdInfoType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="BBAN" type="commTypes:Max34Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IBAN" type="commTypes:Max34Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="NM" type="commTypes:Max70Text" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FinancialInstIdType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="ADRLINE_2AND" type="commTypes:Max70Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="BIC_2AND" type="commTypes:BICType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CTRY_2AND" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ID_2AND" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MMB_ID_2AND" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="NM_2AND" type="commTypes:Max70Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PRTRY_ID_2AND" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="GRP_INFO_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CLR_SYS_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_MSG_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_STTLM_MTD" type="commTypes:SettlementMethod1Code" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_TX_NO" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_VALIDATION_FLAG" type="xsd:boolean" />
    </xsd:all>
  </xsd:complexType>
</xsd:schema>