public/schemas/FundtechCanonicalModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="urn:fundtech/scl/Canonical" xmlns:commTypes="http://fundtech.com/SCL/CommonTypes" 
	elementFormDefault="qualified" targetNamespace="urn:fundtech/scl/Canonical" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
  <xsd:import namespace="http://fundtech.com/SCL/CommonTypes" schemaLocation="CommonTypes.xsd" />
 
  <xsd:element name="FndtMsg" type="tns:FndtMsgType" />
  <xsd:element name="MsgFees" type="tns:MsgFeesType" />
  <xsd:complexType name="FndtMsgType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="Payment" type="tns:X_PMT_INFO_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OrigPayment" type="tns:OX_PMT_INFO_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MsgExtension" type="tns:FndtMsgExtensionType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FndtMsgExtensionType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="DerivedInfo" type="tns:DerivedInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Monitors" type="tns:MonitorsType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ReferenceData" type="tns:ReferenceDataType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MsgFees" type="tns:MsgFeesType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MsgNotes" type="tns:MsgNotesType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MsgRates" type="commTypes:ForwardContractType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MsgPosting" type="tns:PostingInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CustomerSection" type="tns:CustomerSectionType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="InterfacesSection" type="tns:InterfacesSectionType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CustomerSectionType" abstract="true" />
  <xsd:complexType name="InterfacesSectionType" abstract="true" />
  <xsd:complexType name="PostingInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PostingInfoRecord" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PostingInfoRecord">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="movementType" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="office" type="commTypes:OfficeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="accNo" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="currency" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="postingStatus" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="processingDate" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgNotesType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="MsgNotesRecord" type="tns:MsgNotesRecordType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgNotesRecordType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_NOTES_USER_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_NOTES_CREATE_DATE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_NOTES_TEXT" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="MsgFeesType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="unbounded" name="MsgFeesRecord" type="tns:MsgFeesRecordType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MsgFeesRecordType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_MANUAL_FEE" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_FORMULA_NAME" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_TYPE_NAME" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_DEDUCT_FROM" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_ACC_AMOUNT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_AMOUNT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_AMT_IN_PMT_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_APPLY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_BASE_AMOUNT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_CURRENCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_FORMULA_UID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_MONITOR" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_PNL_ACC_CUR" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_PNL_ACC_NO" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_PNL_AMOUNT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_FEE_TYPE_UID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_ORIG_FEE_AMOUNT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_PAYING_PARTY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_PNL_ACC_NO" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_PNL_ACC_OFFICE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_PNL_POSTING_STS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_UNWIND_FEE" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MSG_FEES_MID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="FeeAmountPmtCcyPreInAf" type="xsd:decimal" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ReferenceDataType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="DbtCustProfile" type="tns:PlaceHolderType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="SttlmCcyProfile" type="tns:SttlmCcyProfileType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="DbtMOPProfile" type="tns:DbtMOPProfileType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CdtCustomerProfile" type="tns:PlaceHolderType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="DebitAccount" type="tns:DebitAccountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CreditAccount" type="tns:CreditAccountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="InstgAgtProfile" type="tns:InstgAgtProfileType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CdtMOPProfile" type="tns:CdtMOPProfileType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="LocalOfficeProfile" type="tns:LocalOfficeProfileType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DbtMOPProfileType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_MAXAMOUNT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_CHK_DRAFT_CURRENCY" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_CURRENCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_MOPDOWN" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_ALLOW_NAC_MSG" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_SENDOUTMSG" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_MINAMOUNT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_SEND_REC_IDCODE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_SETT_ACC_EXISTS" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_SPLIT_OVER_MAX" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_NM" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_GROUP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_MOP_NCC_TYPE" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PlaceHolderType">
    <xsd:all />
  </xsd:complexType>
  <xsd:complexType name="LocalOfficeProfileType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_OFFICE_CUST_SWIFT_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_OFFICE_BDT" type="xsd:dateTime" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CdtMOPProfileType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_CCY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_CHK_DRAFT_CCY" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_MIN_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_SENDOUTMSG" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_SEND_REC_IDCODE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_SETT_ACC_EXISTS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_INSTG_CUST_ALIAS" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_SNDR_BIC" type="commTypes:BICType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_SPLIT_OVER_MAX" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_FIN_COPY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_DOWN" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_NCC_TP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_MAX_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_ALLOW_NAC_MSG" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_GRP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_MOP_NM" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="InstgAgtProfileType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_INSTG_CUST_ABA" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_INSTG_CUST_SWIFT_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_INSTG_CUST_ALIAS" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DebitAccountType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_DBT_ACCT_ASSET" type="xsd:boolean" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CreditAccountType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_CDT_ACCT_ASSET" type="xsd:boolean" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="SttlmCcyProfileType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="F_INSTR_CCY_DRAFT" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="F_INSTR_CCY_EURO" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="MonitorsType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="UserMonitor" type="tns:UserMonitorType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ServicesMonitor" type="tns:ServiceStateType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="InterfacesMonitor" type="tns:PlaceHolderType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="MonitorFieldType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\w{1}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ServiceStateType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_DBT_STOP_FLAGS_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_CDT_STOP_FLAGS_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_MOP_SELECTION_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_SPECIAL_INST_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_INITIAL_CREATE" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_OUT_REQ_FOR_CHRG_MATCH_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_GENERATE_REQ_CHARGES" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_TIME_HOLD" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_GENERATED_ANSWER_MESSAGE" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_GENERATED_CANCEL_REQUEST" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_REQ_FOR_CHARGES_MATCH_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_COMPLIANCE_VALIDATION_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_DIRECT_COVER_GENERATED" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_REQ_FOR_CHARGES_VALID_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_PISN_MATCH_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_PISN_PROCESS_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_CANCEL_MATCH_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_CANCEL_REQUEST_VALID_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_N_MESSAGES_MATCH_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MF_FEE_PROC_STS" type="tns:MonitorFieldType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="UserMonitorType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="MU_REQ_FOR_CHARGES_FORCE_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MU_STOP_FLAGS_OVERRIDE_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MU_MISSED_CUTOFF" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MU_SPECIAL_INST_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MU_PI_FORCE_STS" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MU_HANDLE_71G_GAP" type="tns:MonitorFieldType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MU_COMPLIANCE_FORCE_STS" type="tns:MonitorFieldType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DerivedInfoType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="P_MID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_OFFICE" type="commTypes:OfficeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DEPARTMENT" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_MSG_CLASS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_TEMPLATE_MID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_PRODUCT_CD" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_MSG_TYPE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_USER_MSG_TYPE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DISPLAY_MSG_TYPE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_MSG_SUB_TYPE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_BATCH_MSG_TP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_BASE_MSG_STS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_MSG_STS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_ORIG_MSG_SUB_TYPE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_ORIG_MSG_TYPE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_AVAILABLE_MOPS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_CURR1_UNITS" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_CURR2_UNITS" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_CURR1_UNITS" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_CURR2_UNITS" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CHARGES_PAID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DEBIT_AUTHORIZATION" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_MOP_VALID" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_BA_CD" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_BASE_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_BASE_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_BASE_RATE_USAGE_NM" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" default="1" name="P_CUST_PAYMENT" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_PREFERRED_CDT_MOP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_PRIORITY" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_BULKING_PROFILE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_IN_BULK_MSGID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_OUT_BULK_MSGID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_FIRST_IN_CDT_CHAIN_BIC" type="commTypes:BICType" />
      <xsd:element minOccurs="0" maxOccurs="1" default="0" name="P_FC_INFO_IND" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" default="0" name="P_TIME_STAMP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" default="0" name="P_NON_ACC" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CreditSide" type="tns:CreditSideType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="DebitSide" type="tns:DebitSideType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DebitSideType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_MOP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_FEE_ACCT_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_FEE_ACCT_BASEEQVT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_FEE_ACCT_CCY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_FEE_PMT_DEDUCT_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_FEE_PMT_DEDUCT_BASEEQVT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_MAIN_POST_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_TOT_FEE_PMT_DEDUCT_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_TOT_FEE_PMT_DEDUCT_BASEEQVT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_FEE_PMT_AMT_REQUEST" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_FEE_ACCT_AMT_NOW" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_DBT_FEE_AMT_PMT_PRE_IN_AF" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_ACCT_NB" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_FEE_ACCT_NB" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" default="0" name="P_DBT_CROSS_CONV" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_CUST_CD" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_FEE_ACCT_OFFICE" type="commTypes:OfficeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_FEE_PMT_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_FEE_POSTING_STS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_MID_RATE" type="commTypes:BaseOneRate" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_RATE" type="commTypes:BaseOneRate" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_RATE_USAGE_NM" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_SPREAD" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_TX_CD" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_AMT_STEP1" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_FEE_ACCT_CCY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_RATE_STEP1" type="commTypes:BaseOneRate" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_ACCT_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_RATE_STEP2" type="commTypes:BaseOneRate" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_DBT_ACCT_OFFICE" type="commTypes:OfficeType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="CreditSideType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_FEE_ACCT_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_FEE_ACCT_BASEEQVT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_FEE_PMT_DEDUCT_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_FEE_PMT_DEDUCT_BASEEQVT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_FEE_ACCT_NB" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_FEE_ACCT_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_FEE_ACCT_OFFICE" type="commTypes:OfficeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_FEE_PMT_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_FEE_POSTING_STS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_AF_FEE_PMT_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_AMT_STEP1" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_ACCT_NB" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_ACCT_OFFICE" type="commTypes:OfficeType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_RATE_USAGE_NM" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_MOP" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_APPLY_FEE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" default="0" name="P_CDT_CROSS_CONV" type="xsd:boolean" />
      <xsd:element name="P_CDT_MID_RATE" type="commTypes:BaseOneRate" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_POSTING_STS" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_SPREAD" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_TX_CD" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_RATE_STEP1" type="commTypes:BaseOneRate" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_RATE_STEP2" type="commTypes:BaseOneRate" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_TRIANGULATION_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_ACCT_CCY" type="commTypes:CurrencyType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_AMT" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="P_CDT_CUST_CD" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_FEE_ACCT_AMT_NOW" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_CDT_FEE_ACCT_AMT_LATER" type="commTypes:AmountType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="D_IN_AF_CDT_ACCT_AMT" type="commTypes:AmountType" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="OX_PMT_INFO_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_GRP_INFO" type="tns:GRP_INFO_Type">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 X_MSG_ID
		 				 X_STTLM_MTD
		 				 X_TX_NO
		 				 X_VALIDATION_FLAG
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR_AGT" type="tns:FinancialInstIdType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_CDTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>No Children is this even a group?</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR" type="tns:PartyIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 ADRLINE
		 				 BIC
		 				 CTRY
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_CDTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR" type="tns:PartyIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 ADRLINE
		 				 BIC
		 				 CTRY
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_DBTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_COV_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_DBTR_AGT_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INITG_PTY" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 IBAN
		 				 ID
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTD_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTG_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			ADRLINE_2AND
			 			BIC_2AND
			 			CTRY_2AND
			 			ID_2AND
			 			MMB_ID_2AND
			 			NM_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INSTG_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_STTLM_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				 BBAN
		 				 NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="OX_THRD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
			 			MMB_ID_2AND
			 			PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="X_PMT_INFO_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_GRP_INFO" type="tns:GRP_INFO_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR_AGT" type="tns:FinancialInstIdType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CDTR_AGT_ACCT" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR_ACCT" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				CTRY_2AND
						ID_2AND
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_CDTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				BBAN
		 				NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				CTRY_2AND
						ID_2AND
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_DBTR_AGT_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				BBAN
		 				NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				CTRY_2AND
						ID_2AND
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_COV_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
		 				BBAN
		 				NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR" type="tns:PartyIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_DBTR_AGT_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INITG_PTY" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						BBAN
						IBAN
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTD_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTG_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INSTG_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INTRMY_AGT1" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						PRTRY_ID_2AND
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_INTRMY_AGT1_ACCT" type="tns:AcctIdInfoType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_STTLM_ACCT" type="tns:AcctIdInfoType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						BBAN
						NM
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_THRD_RMB_AGT" type="tns:FinancialInstIdType">
        <xsd:annotation>
          <xsd:documentation>Missing Logical fields : 
						MMB_ID_2AND
						Additional Suspect fields :
							X_THRD_RMB_AGT (group (itself) remove from master)
		 			</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="PartyIdInfoType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="ADRLINE" type="commTypes:Max70Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="BIC" type="commTypes:BICType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CTRY" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="NM" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="AcctIdInfoType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="BBAN" type="commTypes:Max34Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IBAN" type="commTypes:Max34Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="NM" type="commTypes:Max70Text" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FinancialInstIdType">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="ADRLINE_2AND" type="commTypes:Max70Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="BIC_2AND" type="commTypes:BICType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CTRY_2AND" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ID_2AND" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MMB_ID_2AND" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="NM_2AND" type="commTypes:Max70Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PRTRY_ID_2AND" type="xsd:string" />
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="GRP_INFO_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="X_CLR_SYS_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_MSG_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_STTLM_MTD" type="commTypes:SettlementMethod1Code" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_TX_NO" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="X_VALIDATION_FLAG" type="xsd:boolean" />
    </xsd:all>
  </xsd:complexType>
</xsd:schema>