public/schemas/LoadProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="http://fundtech.com/SCL/LoadProfileTypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fundtech.com/SCL/LoadProfileTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="PerformLoadProfileRequest" type="LoadProfileRequestType" />
  <xs:element name="PerformLoadProfileResponse" type="LoadProfileFeedbackType" />


  <xs:complexType name="LoadProfileField">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Value" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LoadProfileFeedbackType">
    <xs:sequence>
      <xs:element name="compCode" type="xs:int" />
      <xs:element name="info" 	  type="xs:string" />
	  <xs:element name="Fields">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Field" type="LoadProfileField" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoadProfileRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" name="userID" type="xs:string" />
      <xs:element minOccurs="1" name="password" type="xs:string" />
      <xs:element minOccurs="1" name="profileID" type="xs:string" />
      <xs:element minOccurs="1" name="profileRecordUniqueID" type="xs:string" />
      <xs:element minOccurs="0" name="note" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>