public/schemas/MassPayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://fundtech.com/SCL/MassPayment"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://fundtech.com/SCL/MassPayment" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>

	<xsd:element name="performDebulkingAckRequset" type="tns:performDebulkingAckRequsetType"/>
	<xsd:element name="ProcessSubBatchGenerationRequest" type="tns:processSubBatchGenerationRequsetType"/>
	<xsd:element name="ProcessSubBatchCompletionRequest" type="tns:processSubBatchCompletionType"/>
	<xsd:element name="CloseOpenOutFilesRequest" type="tns:closeOpenOutFilesRequsetType"/>	
	<xsd:element name="AssembleOutFilesRequest" type="tns:assembleOutFilesRequestType"/>		
	<xsd:element name="SendOutAckFilesRequest" type="tns:sendOutAckFilesRequestType"/>
	<xsd:element name="FileHandlerRequest" type="tns:fileHandlerRequest"/>
	<xsd:element name="PaymentCompletionRequest" type="tns:paymentCompletionRequest"/>
	<xsd:element name="ProcessNotificationGenerationRequest" type="tns:processNotificationGenerationRequestType"/>
	
	<xsd:complexType name="paymentCompletionRequest">
		<xsd:sequence>
			<xsd:element name="status" type="xsd:string"/>
			<xsd:element name="postingStatus" type="xsd:string"/>
			<xsd:element name="internalFileId" type="xsd:string"/>
			<xsd:element name="invokeSibsInterface" type="xsd:boolean" default="false"/>
			<xsd:element name="midList" minOccurs="1" maxOccurs="1"  type="tns:midList"/>
		</xsd:sequence>	
	</xsd:complexType>
	
	<xsd:complexType name="midList">
		<xsd:sequence>
			<xsd:element name="mid" minOccurs="0" maxOccurs="unbounded"  type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="fileHandlerRequest">
		<xsd:sequence>
			<xsd:element name="filePath" type="xsd:string"/>
			<xsd:element name="method" minOccurs="0" maxOccurs="1"  type="tns:methodType"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="methodType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SentenialMandateDebit"/>
            <xsd:enumeration value="SentenialMandateCredit"/>
            <xsd:enumeration value="Debulking"/>
            <xsd:enumeration value="BulkOfac"/>
            <xsd:enumeration value="BulkOfacFircosoft"/>
            <xsd:enumeration value="BulkPosting"/>
        </xsd:restriction>
    </xsd:simpleType>
	
	<xsd:complexType name="performDebulkingAckRequsetType">
		<xsd:sequence>
				<xsd:element name="internalFileID" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="status" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="inChunkID" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="outChunkID" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="orgnlMsgId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="orgnlMsgNmId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="MsgId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="rejectReason" minOccurs="0" maxOccurs="1" type="xsd:string" />	
				<xsd:element name="rejectDescription" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="ReversalReason"  minOccurs="0" maxOccurs="1" type="tns:ReversalReasonType"/>
				<xsd:element name="PaymentReferenceTypeList"  minOccurs="0" maxOccurs="unbounded" type="tns:PaymentReferenceType"/>
				<xsd:element name="paymentType" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="paymentVersion" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="filePath" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="chunkSize" minOccurs="0" maxOccurs="1" type="xsd:int" />
				<xsd:element name="origInternalFileId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="origChunkId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="fileReference" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="additionalInfo" minOccurs="0" maxOccurs="1" type="xsd:string" />
				
		</xsd:sequence>
	</xsd:complexType>
			
	<xsd:complexType name="ReversalReasonType">
		  <xsd:sequence>
		  		<xsd:element maxOccurs="1" minOccurs="0" name="Rsn" type="xsd:string"/>		  
				<xsd:element maxOccurs="1" minOccurs="0" name="RsnCd" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="RsnPrtry" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="RsnOrgtrNm" type="xsd:string"/>
				<xsd:element maxOccurs="1" minOccurs="0" name="RsnOrgtrBIC" type="xsd:string"/>
            	<xsd:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="xsd:string"/>
		</xsd:sequence> 
	</xsd:complexType>		
			
			
	<xsd:complexType name="PaymentReferenceType">
		  <xsd:sequence>
				<xsd:element name="paymentReference"  minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="orgnlEndToEndId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="origPaymentInfId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="origInstructedAmount" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="reason" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="rejectDesctiption" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="reasonInf" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="outChunkID" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="complianceType" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="xmlPayment" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="ReversalReason"  minOccurs="0" maxOccurs="1" type="tns:ReversalReasonType"/>
				<xsd:element name="txSts"  minOccurs="0" maxOccurs="1" type="xsd:string"/>
				<xsd:element name="originatorAgent"  minOccurs="0" maxOccurs="1" type="xsd:string"/>
		</xsd:sequence> 
	</xsd:complexType>
	
    <xsd:complexType name="processSubBatchGenerationRequsetType">
		<xsd:sequence>
				<xsd:element name="processInformation" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="subTypeInterface" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="isFeeder" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="true"/>
				<xsd:element name="status" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="internalFileID" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="uniqueGroupID" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="chunkId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="isBeforeBulkNoWaitInterface" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="true"/>
				<xsd:element name="isBulkWaitingInterface" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false"/>
				<xsd:element name="bulkWaitingInterfacePerGroupingId" minOccurs="0" maxOccurs="unbounded" type="tns:bulkWaitingInterfacePerGroupingIdType" />
				<xsd:element name="isCamtWasGenerated" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false"/>
				<xsd:element name="isDirectDebit" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false"/>
				<xsd:element name="isRMessage" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false"/>
				<xsd:element name="AdditionalParameters" type="tns:processSubBatchGenerationAdditionalParameters_Type" minOccurs="0" maxOccurs="1" />
				<xsd:element name="FndtBatchMsgExtn" minOccurs="0" maxOccurs="1" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
		
	<xsd:complexType name="processSubBatchGenerationAdditionalParameters_Type">
 		 <xsd:sequence>
  			 <xsd:element name="NameValueParameter" type="tns:processSubBatchGenerationAdditionalParameter_Type" maxOccurs="unbounded"/>
  		</xsd:sequence>
 	</xsd:complexType>
	
	<xsd:complexType name="processSubBatchGenerationAdditionalParameter_Type">
		<xsd:attribute name="name" type="xsd:string" />
		<xsd:attribute name="value" type="xsd:string" />
	</xsd:complexType>
	
    <xsd:complexType name="processSubBatchCompletionType">
		<xsd:sequence>
				<xsd:element name="internalFileId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="uniqueGroupId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="midsToRelease" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="interfaceName" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="chunkId" minOccurs="0" maxOccurs="1" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
			
	<xsd:complexType name="closeOpenOutFilesRequsetType">
		<xsd:sequence>
			<xsd:element name="processType" type="tns:processType" default="MOP" minOccurs="0"/>
			<xsd:element name="userRequest" type="xsd:boolean" default="false" minOccurs="0"/>
			<xsd:element name="uidMop" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uidBulkingProfile" type="xsd:string" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="FromTime" type="xsd:string" minOccurs="0"/>
					<xsd:element name="toTime" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
				<xsd:element name="incomingFileInternalId" type="xsd:string" default="false" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="processType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MOP"/>
            <xsd:enumeration value="PARTIES"/> 
            <xsd:enumeration value="ASSEMBLE"/>
            <xsd:enumeration value="SEND_OUT_ACK"/>            
        </xsd:restriction>
    </xsd:simpleType>
    
    
    	<xsd:complexType name="assembleOutFilesRequestType">
		  <xsd:sequence>
		  		<xsd:element name="processType"  minOccurs="0" maxOccurs="1" type="tns:processType" default="ASSEMBLE"/> 
				<xsd:element name="uidAssembly"  minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="FromTime" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="toTime" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="userRequest" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false" />				
		</xsd:sequence> 
	</xsd:complexType>

	<xsd:complexType name="sendOutAckFilesRequestType">
		  <xsd:sequence>
		  		<xsd:element name="processType"  minOccurs="0" maxOccurs="1" type="tns:processType" default="SEND_OUT_ACK"/> 
				<xsd:element name="UidReportSendingPreferences"  minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="FromTime" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="toTime" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="userRequest" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false" />				
		</xsd:sequence> 
	</xsd:complexType>
	
	
	<xsd:complexType name="bulkWaitingInterfacePerGroupingIdType">
		  <xsd:all>
				<xsd:element name="isBulkWaitingInterface" minOccurs="0" maxOccurs="1" type="xsd:boolean" default="false"/>
				<xsd:element name="uniqueGroupId" minOccurs="0" maxOccurs="1" type="xsd:string" />
		</xsd:all> 
	</xsd:complexType>
			
	<xsd:complexType name="processNotificationGenerationRequestType">
		<xsd:sequence>
				<xsd:element name="internalFileId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="chunkId" minOccurs="0" maxOccurs="1" type="xsd:string" />
				<xsd:element name="paymentDataList" minOccurs="0" maxOccurs="unbounded" type="tns:paymentDataType" />
		</xsd:sequence>		
	</xsd:complexType>

	<xsd:complexType name="paymentDataType">
		<xsd:sequence>
				<xsd:element name="mid" minOccurs="0" maxOccurs="1" type="xsd:string" />
		</xsd:sequence>		
	</xsd:complexType>
			
</xsd:schema>