public/schemas/pacs.002.001.03S2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03S2" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03S2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:simpleType name="S2SCTCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
      <xs:fractionDigits value="2" />
      <xs:totalDigits value="18" />
      <xs:pattern value="[0-9]{0,15}([\.]([0-9]{0,2})){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="S2SCTCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="S2SCTCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="S2SCTCurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="S2SCTCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EUR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="S2SCTBranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="S2SCTFinancialInstitutionIdentification7" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FIToFIPmtStsRptS2" type="FIToFIPaymentStatusReportV03" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="S2SCTExternalStatusReason1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ED05" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="S2SCTExternalStatusReason2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AM01" />
      <xs:enumeration value="AM02" />
      <xs:enumeration value="AM05" />
      <xs:enumeration value="DT01" />
      <xs:enumeration value="ED05" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="S2SCTTransactionIndividualStatus1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTC" />
      <xs:enumeration value="RJCT" />
      <xs:enumeration value="PDNG" />
      <xs:enumeration value="ACCP" />
      <xs:enumeration value="ACSP" />
      <xs:enumeration value="ACSC" />
      <xs:enumeration value="ACCR" />
      <xs:enumeration value="ACWC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FIToFIPaymentStatusReportV03">
    <xs:sequence>
      <xs:element name="GrpHdr" type="S2SCTGroupHeader37" />
      <xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation20" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TxInfAndSts" type="PaymentTransactionInformation26" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S2SCTFinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S2SCTGroupHeader37">
    <xs:sequence>
      <xs:element name="MsgId" type="S2SCTId7" />
      <xs:element name="CreDtTm" type="ISODateTime" />
      <xs:element minOccurs="0" name="InstgAgt" type="S2SCTBranchAndFinancialInstitutionIdentification4" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
      <xs:whiteSpace value="collapse" />
      <xs:pattern value="\S+.*" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumberOfTransactionsPerStatus3">
    <xs:sequence>
      <xs:element name="DtldNbOfTxs" type="Max15NumericText" />
      <xs:element name="DtldSts" type="S2SCTTransactionIndividualStatus1Code" />
      <xs:element name="DtldCtrlSum" type="S2SCTCurrencyAndAmount_SimpleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalGroupInformation20">
    <xs:sequence>
      <xs:element name="OrgnlMsgId" type="Max35Text" />
      <xs:element name="OrgnlMsgNmId" type="Max35Text" />
      <xs:element name="OrgnlNbOfTxs" type="Max15NumericText" />
      <xs:element name="OrgnlCtrlSum" type="S2SCTCurrencyAndAmount_SimpleType" />
      <xs:element name="GrpSts" type="S2SCTTransactionGroupStatus3Code" />
      <xs:element name="StsRsnInf" type="S2SCTStatusReasonInformation8" />
      <xs:element minOccurs="0" maxOccurs="2" name="NbOfTxsPerSts" type="NumberOfTransactionsPerStatus3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalTransactionReference13">
    <xs:sequence>
      <xs:element name="IntrBkSttlmAmt" type="S2SCTCurrencyAndAmount" />
      <xs:element name="IntrBkSttlmDt" type="ISODate" />
      <xs:element name="DbtrAgt" type="S2SCTBranchAndFinancialInstitutionIdentification4" />
      <xs:element name="CdtrAgt" type="S2SCTBranchAndFinancialInstitutionIdentification4" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTransactionInformation26">
    <xs:sequence>
      <xs:element name="StsId" type="S2SCTId7" />
      <xs:element minOccurs="0" name="OrgnlInstrId" type="S2SCTId7" />
      <xs:element name="OrgnlEndToEndId" type="Max35Text" />
      <xs:element name="OrgnlTxId" type="S2SCTId7" />
      <xs:element name="TxSts" type="TransactionIndividualStatus3Code" />
      <xs:element name="StsRsnInf" type="S2SCTStatusReasonInformation9" />
      <xs:element minOccurs="0" name="InstdAgt" type="S2SCTBranchAndFinancialInstitutionIdentification4" />
      <xs:element minOccurs="0" name="OrgnlTxRef" type="OriginalTransactionReference13" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusReason6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="S2SCTExternalStatusReason1Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusReason7Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="S2SCTExternalStatusReason2Code" />
        <xs:element name="Prtry" type="Max35Text" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S2SCTOrganisationIdentification4">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S2SCTParty3Choice">
    <xs:sequence>
      <xs:element name="OrgId" type="S2SCTOrganisationIdentification4" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S2SCTId5">
    <xs:sequence>
      <xs:element name="Id" type="S2SCTParty3Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S2SCTStatusReasonInformation8">
    <xs:sequence>
      <xs:element name="Orgtr" type="S2SCTId5" />
      <xs:element name="Rsn" type="StatusReason6Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="S2SCTStatusReasonInformation9">
    <xs:sequence>
      <xs:element name="Orgtr" type="S2SCTId5" />
      <xs:element name="Rsn" type="StatusReason7Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="S2SCTTransactionGroupStatus3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCP" />
      <xs:enumeration value="PART" />
      <xs:enumeration value="RJCT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TransactionIndividualStatus3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RJCT" />
      <xs:enumeration value="PDNG" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="S2SCTId7">
    <xs:restriction base="xs:string">
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|']){1,35}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>