public/schemas/remt.001.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:tch" xmlns:ar="urn:iso:std:iso:20022:tech:xsd:remt.001.001.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:remt.001.001.02"
    elementFormDefault="qualified">
  <xs:element name="Document" type="ar:Document_TCH"/>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ar:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ar:ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.01"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount_TCH">
    <xs:simpleContent>
      <xs:extension base="ar:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ar:ActiveOrHistoricCurrencyCode_TCH" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:maxLength value="3"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountType3Choice">
    <xs:choice>
      <xs:element name="InstdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AmountType3Choice_TCH">
    <xs:choice>
      <xs:element name="InstdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
    <xs:sequence>
      <xs:element name="FinInstnId" type="ar:FinancialInstitutionIdentification8"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification5_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="ar:FinancialInstitutionIdentification8_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2TCH">
    <xs:sequence>
      <xs:element name="MmbId" type="ar:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element name="NmPrfx" type="ar:NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="ar:PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="ar:PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="ar:PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="ar:Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2_TCH">
    <xs:sequence>
      <xs:element name="NmPrfx" type="ar:NamePrefix1Code_TCH" minOccurs="0"/>
      <xs:element name="Nm" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="ar:PhoneNumber_TCH" minOccurs="0"/>
      <xs:element name="MobNb" type="ar:PhoneNumber_TCH" minOccurs="0"/>
      <xs:element name="FaxNb" type="ar:PhoneNumber_TCH" minOccurs="0"/>
      <xs:element name="EmailAdr" type="ar:Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryCode_TCH">
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="ar:CreditorReferenceType2" minOccurs="0"/>
      <xs:element name="Ref" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="ar:CreditorReferenceType2_TCH" minOccurs="0"/>
      <xs:element name="Ref" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:DocumentType3Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="ar:DocumentType3Code_TCH"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ar:CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2_TCH">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ar:CreditorReferenceType1Choice_TCH"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ar:ISODate"/>
      <xs:element name="PrvcOfBirth" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="ar:Max35Text"/>
      <xs:element name="CtryOfBirth" type="ar:CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth_TCH">
    <xs:sequence>
      <xs:element name="BirthDt" type="ar:ISODate"/>
      <xs:element name="PrvcOfBirth" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="ar:Max35Text"/>
      <xs:element name="CtryOfBirth" type="ar:CountryCode_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DatePeriodDetails">
    <xs:sequence>
      <xs:element name="FrDt" type="ar:ISODate"/>
      <xs:element name="ToDt" type="ar:ISODate"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountAndType1">
    <xs:sequence>
      <xs:element name="Tp" type="ar:DiscountAmountType1Choice" minOccurs="0"/>
      <xs:element name="Amt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:ExternalDiscountAmountType1Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="RmtAdvc" type="ar:RemittanceAdviceV02"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1">
    <xs:sequence>
      <xs:element name="Amt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="ar:CreditDebitCode" minOccurs="0"/>
      <xs:element name="Rsn" type="ar:Max4Text" minOccurs="0"/>
      <xs:element name="AddtlInf" type="ar:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1_TCH">
    <xs:sequence>
      <xs:element name="Amt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="ar:CreditDebitCode_TCH" minOccurs="0"/>
      <xs:element name="Rsn" type="ar:Max4Text" minOccurs="0"/>
      <xs:element name="AddtlInf" type="ar:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentLineIdentification1">
    <xs:sequence>
      <xs:element name="Tp" type="ar:DocumentLineType1" minOccurs="0"/>
      <xs:element name="Nb" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="RltdDt" type="ar:ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentLineInformation1">
    <xs:sequence>
      <xs:element name="Id" type="ar:DocumentLineIdentification1" maxOccurs="unbounded"/>
      <xs:element name="Desc" type="ar:Max2048Text" minOccurs="0"/>
      <xs:element name="Amt" type="ar:RemittanceAmount3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentLineInformation1_TCH">
    <xs:sequence>
      <xs:element name="Id" type="ar:DocumentLineIdentification1" maxOccurs="unbounded"/>
      <xs:element name="Desc" type="ar:Max2048Text" minOccurs="0"/>
      <xs:element name="Amt" type="ar:RemittanceAmount3_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentLineType1">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ar:DocumentLineType1Choice"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentLineType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:ExternalDocumentLineType1Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType3Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType6Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AROI"/>
      <xs:enumeration value="BOLD"/>
      <xs:enumeration value="CINV"/>
      <xs:enumeration value="CMCN"/>
      <xs:enumeration value="CNFA"/>
      <xs:enumeration value="CREN"/>
      <xs:enumeration value="DEBN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="DNFA"/>
      <xs:enumeration value="HIRI"/>
      <xs:enumeration value="MSIN"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="SBIN"/>
      <xs:enumeration value="SOAC"/>
      <xs:enumeration value="TSUT"/>
      <xs:enumeration value="VCHR"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType6Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AROI"/>
      <xs:enumeration value="BOLD"/>
      <xs:enumeration value="CINV"/>
      <xs:enumeration value="CMCN"/>
      <xs:enumeration value="CNFA"/>
      <xs:enumeration value="CREN"/>
      <xs:enumeration value="DEBN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="DNFA"/>
      <xs:enumeration value="HIRI"/>
      <xs:enumeration value="MSIN"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="SBIN"/>
      <xs:enumeration value="SOAC"/>
      <xs:enumeration value="TSUT"/>
      <xs:enumeration value="VCHR"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="RmtAdvc" type="ar:RemittanceAdviceV02_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalDiscountAmountType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APDS"/>
      <xs:enumeration value="STDS"/>
      <xs:enumeration value="TMDS"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalDocumentLineType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalGarnishmentType1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BANK"/>
      <xs:enumeration value="CBID"/>
      <xs:enumeration value="CHID"/>
      <xs:enumeration value="COID"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="DUNS"/>
      <xs:enumeration value="EMPL"/>
      <xs:enumeration value="GS1G"/>
      <xs:enumeration value="SREN"/>
      <xs:enumeration value="SRET"/>
      <xs:enumeration value="TXID"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARNU"/>
      <xs:enumeration value="CCPT"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="DRLC"/>
      <xs:enumeration value="EMPL"/>
      <xs:enumeration value="NIDN"/>
      <xs:enumeration value="SOSE"/>
      <xs:enumeration value="TXID"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalTaxAmountType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CITY"/>
      <xs:enumeration value="CNTY"/>
      <xs:enumeration value="LOCL"/>
      <xs:enumeration value="PROV"/>
      <xs:enumeration value="STAT"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalTaxAmountType1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CITY"/>
      <xs:enumeration value="CNTY"/>
      <xs:enumeration value="LOCL"/>
      <xs:enumeration value="PROV"/>
      <xs:enumeration value="STAT"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification8">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="ar:ClearingSystemMemberIdentification2TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification8_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="ar:ClearingSystemMemberIdentification2TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Garnishment1">
    <xs:sequence>
      <xs:element name="Tp" type="ar:GarnishmentType1"/>
      <xs:element name="Grnshee" type="ar:PartyIdentification43" minOccurs="0"/>
      <xs:element name="GrnshmtAdmstr" type="ar:PartyIdentification43" minOccurs="0"/>
      <xs:element name="RefNb" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="Dt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="RmtdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="FmlyMdclInsrncInd" type="ar:TrueFalseIndicator" minOccurs="0"/>
      <xs:element name="MplyeeTermntnInd" type="ar:TrueFalseIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Garnishment1_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="ar:GarnishmentType1"/>
      <xs:element name="Grnshee" type="ar:PartyIdentification43_TCH_2" minOccurs="0"/>
      <xs:element name="GrnshmtAdmstr" type="ar:PartyIdentification43_TCH_2" minOccurs="0"/>
      <xs:element name="RefNb" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="Dt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="RmtdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="FmlyMdclInsrncInd" type="ar:TrueFalseIndicator" minOccurs="0"/>
      <xs:element name="MplyeeTermntnInd" type="ar:TrueFalseIndicator" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GarnishmentType1">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ar:GarnishmentType1Choice"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GarnishmentType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:ExternalGarnishmentType1Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="ar:Min9Max9Text"/>
      <xs:element name="SchmeNm" type="ar:OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_TCH">
    <xs:sequence>
      <xs:element name="Id" type="ar:Min9Max9Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="ar:Max35Text"/>
      <xs:element name="SchmeNm" type="ar:PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader62">
    <xs:sequence>
      <xs:element name="MsgId" type="ar:Max35Text"/>
      <xs:element name="CreDtTm" type="ar:ISODateTime"/>
      <xs:element name="InitgPty" type="ar:PartyIdentification43"/>
      <xs:element name="MsgRcpt" type="ar:PartyIdentification43"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader62_TCH">
    <xs:sequence>
      <xs:element name="MsgId" type="ar:Max35Text_TCH"/>
      <xs:element name="CreDtTm" type="ar:ISODateTime"/>
      <xs:element name="InitgPty" type="ar:PartyIdentification43_TCH"/>
      <xs:element name="MsgRcpt" type="ar:PartyIdentification43_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="M[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Min9Max9Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NamePrefix1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification8">
    <xs:sequence>
      <xs:element name="Othr" type="ar:GenericOrganisationIdentification1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8_TCH">
    <xs:sequence>
      <xs:element name="Othr" type="ar:GenericOrganisationIdentification1_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification8_TCH_2">
    <xs:sequence>
      <xs:element name="Othr" type="ar:GenericOrganisationIdentification1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:ExternalOrganisationIdentification1Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OriginalPaymentInformation6">
    <xs:sequence>
      <xs:element name="Refs" type="ar:TransactionReferences4"/>
      <xs:element name="Amt" type="ar:AmountType3Choice"/>
      <xs:element name="ReqdExctnDt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="Dbtr" type="ar:PartyIdentification43" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="ar:BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
      <xs:element name="Cdtr" type="ar:PartyIdentification43" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="ar:BranchAndFinancialInstitutionIdentification5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalPaymentInformation6_TCH">
    <xs:sequence>
      <xs:element name="Refs" type="ar:TransactionReferences4"/>
      <xs:element name="Amt" type="ar:AmountType3Choice_TCH"/>
      <xs:element name="ReqdExctnDt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="Dbtr" type="ar:PartyIdentification43_TCH_3" minOccurs="0"/>
      <xs:element name="DbtrAgt" type="ar:BranchAndFinancialInstitutionIdentification5_TCH" minOccurs="0"/>
      <xs:element name="Cdtr" type="ar:PartyIdentification43_TCH_3" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="ar:BranchAndFinancialInstitutionIdentification5_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party11Choice">
    <xs:choice>
      <xs:element name="OrgId" type="ar:OrganisationIdentification8"/>
      <xs:element name="PrvtId" type="ar:PersonIdentification5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party11Choice_TCH">
    <xs:choice>
      <xs:element name="OrgId" type="ar:OrganisationIdentification8_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party11Choice_TCH_2">
    <xs:choice>
      <xs:element name="OrgId" type="ar:OrganisationIdentification8_TCH_2"/>
      <xs:element name="PrvtId" type="ar:PersonIdentification5_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43">
    <xs:sequence>
      <xs:element name="Nm" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="ar:PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="ar:Party11Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="ar:CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ar:ContactDetails2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_TCH">
    <xs:sequence>
      <xs:element name="Id" type="ar:Party11Choice_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_TCH_2">
    <xs:sequence>
      <xs:element name="Nm" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="ar:PostalAddress6_TCH" minOccurs="0"/>
      <xs:element name="Id" type="ar:Party11Choice_TCH_2" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="ar:CountryCode_TCH" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ar:ContactDetails2_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification43_TCH_3">
    <xs:sequence>
      <xs:element name="Nm" type="ar:Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PercentageRate">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="11"/>
      <xs:fractionDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="ar:DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="ar:GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_TCH">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="ar:DateAndPlaceOfBirth_TCH" minOccurs="0"/>
      <xs:element name="Othr" type="ar:GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:ExternalPersonIdentification1Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PhoneNumber_TCH">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35"/>
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="ar:AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="ar:Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="ar:Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="ar:Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="ar:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="ar:Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="ar:CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="ar:Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_TCH">
    <xs:sequence>
      <xs:element name="AdrTp" type="ar:AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="ar:Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="ar:Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="ar:Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="ar:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="ar:Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="ar:CountryCode_TCH" minOccurs="0"/>
      <xs:element name="AdrLine" type="ar:Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation7">
    <xs:sequence>
      <xs:element name="Tp" type="ar:ReferredDocumentType4" minOccurs="0"/>
      <xs:element name="Nb" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="RltdDt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="LineDtls" type="ar:DocumentLineInformation1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation7_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="ar:ReferredDocumentType4_TCH" minOccurs="0"/>
      <xs:element name="Nb" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="RltdDt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="LineDtls" type="ar:DocumentLineInformation1_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType3Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:DocumentType6Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType3Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="ar:DocumentType6Code_TCH"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType4">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ar:ReferredDocumentType3Choice"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType4_TCH">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ar:ReferredDocumentType3Choice_TCH"/>
      <xs:element name="Issr" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAdviceV02">
    <xs:sequence>
      <xs:element name="GrpHdr" type="ar:GroupHeader62"/>
      <xs:element name="RmtInf" type="ar:RemittanceInformation12" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAdviceV02_TCH">
    <xs:sequence>
      <xs:element name="GrpHdr" type="ar:GroupHeader62_TCH"/>
      <xs:element name="RmtInf" type="ar:RemittanceInformation12_TCH" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ar:DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtNoteAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ar:TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AdjstmntAmtAndRsn" type="ar:DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2_TCH">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ar:DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtNoteAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ar:TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AdjstmntAmtAndRsn" type="ar:DocumentAdjustment1_TCH" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount3">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ar:DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtNoteAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ar:TaxAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AdjstmntAmtAndRsn" type="ar:DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount3_TCH">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ar:DiscountAmountAndType1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CdtNoteAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ar:TaxAmountAndType1_TCH" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AdjstmntAmtAndRsn" type="ar:DocumentAdjustment1_TCH" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation12">
    <xs:sequence>
      <xs:element name="RmtId" type="ar:Max35Text"/>
      <xs:element name="Ustrd" type="ar:Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="ar:StructuredRemittanceInformation13" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OrgnlPmtInf" type="ar:OriginalPaymentInformation6"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation12_TCH">
    <xs:sequence>
      <xs:element name="RmtId" type="ar:Max35Text"/>
      <xs:element name="Ustrd" type="ar:Max140Text" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Strd" type="ar:StructuredRemittanceInformation13_TCH" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OrgnlPmtInf" type="ar:OriginalPaymentInformation6_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation13">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="ar:ReferredDocumentInformation7" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RfrdDocAmt" type="ar:RemittanceAmount2" minOccurs="0"/>
      <xs:element name="CdtrRefInf" type="ar:CreditorReferenceInformation2" minOccurs="0"/>
      <xs:element name="Invcr" type="ar:PartyIdentification43" minOccurs="0"/>
      <xs:element name="Invcee" type="ar:PartyIdentification43" minOccurs="0"/>
      <xs:element name="TaxRmt" type="ar:TaxInformation4" minOccurs="0"/>
      <xs:element name="GrnshmtRmt" type="ar:Garnishment1" minOccurs="0"/>
      <xs:element name="AddtlRmtInf" type="ar:Max140Text" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation13_TCH">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="ar:ReferredDocumentInformation7_TCH" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RfrdDocAmt" type="ar:RemittanceAmount2_TCH" minOccurs="0"/>
      <xs:element name="CdtrRefInf" type="ar:CreditorReferenceInformation2_TCH" minOccurs="0"/>
      <xs:element name="Invcr" type="ar:PartyIdentification43_TCH_2" minOccurs="0"/>
      <xs:element name="Invcee" type="ar:PartyIdentification43_TCH_2" minOccurs="0"/>
      <xs:element name="TaxRmt" type="ar:TaxInformation4_TCH" minOccurs="0"/>
      <xs:element name="GrnshmtRmt" type="ar:Garnishment1_TCH" minOccurs="0"/>
      <xs:element name="AddtlRmtInf" type="ar:Max140Text" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmount1">
    <xs:sequence>
      <xs:element name="Rate" type="ar:PercentageRate" minOccurs="0"/>
      <xs:element name="TaxblBaseAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TtlAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Dtls" type="ar:TaxRecordDetails1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmount1_TCH">
    <xs:sequence>
      <xs:element name="Rate" type="ar:PercentageRate" minOccurs="0"/>
      <xs:element name="TaxblBaseAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TtlAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Dtls" type="ar:TaxRecordDetails1_TCH" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmountAndType1">
    <xs:sequence>
      <xs:element name="Tp" type="ar:TaxAmountType1Choice" minOccurs="0"/>
      <xs:element name="Amt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmountAndType1_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="ar:TaxAmountType1Choice_TCH" minOccurs="0"/>
      <xs:element name="Amt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxAmountType1Choice">
    <xs:choice>
      <xs:element name="Cd" type="ar:ExternalTaxAmountType1Code"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TaxAmountType1Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="ar:ExternalTaxAmountType1Code_TCH"/>
      <xs:element name="Prtry" type="ar:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="TaxAuthorisation1">
    <xs:sequence>
      <xs:element name="Titl" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="ar:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxInformation4">
    <xs:sequence>
      <xs:element name="Cdtr" type="ar:TaxParty1" minOccurs="0"/>
      <xs:element name="Dbtr" type="ar:TaxParty2" minOccurs="0"/>
      <xs:element name="AdmstnZone" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="RefNb" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="Mtd" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="TtlTaxblBaseAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TtlTaxAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Dt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="SeqNb" type="ar:Number" minOccurs="0"/>
      <xs:element name="Rcrd" type="ar:TaxRecord1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxInformation4_TCH">
    <xs:sequence>
      <xs:element name="Cdtr" type="ar:TaxParty1" minOccurs="0"/>
      <xs:element name="Dbtr" type="ar:TaxParty2" minOccurs="0"/>
      <xs:element name="AdmstnZone" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="RefNb" type="ar:Max140Text" minOccurs="0"/>
      <xs:element name="Mtd" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="TtlTaxblBaseAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TtlTaxAmt" type="ar:ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Dt" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="SeqNb" type="ar:Number" minOccurs="0"/>
      <xs:element name="Rcrd" type="ar:TaxRecord1_TCH" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty1">
    <xs:sequence>
      <xs:element name="TaxId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="RegnId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="TaxTp" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxParty2">
    <xs:sequence>
      <xs:element name="TaxId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="RegnId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="TaxTp" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Authstn" type="ar:TaxAuthorisation1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxPeriod1">
    <xs:sequence>
      <xs:element name="Yr" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="Tp" type="ar:TaxRecordPeriod1Code" minOccurs="0"/>
      <xs:element name="FrToDt" type="ar:DatePeriodDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxPeriod1_TCH">
    <xs:sequence>
      <xs:element name="Yr" type="ar:ISODate" minOccurs="0"/>
      <xs:element name="Tp" type="ar:TaxRecordPeriod1Code_TCH" minOccurs="0"/>
      <xs:element name="FrToDt" type="ar:DatePeriodDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecord1">
    <xs:sequence>
      <xs:element name="Tp" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Ctgy" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CtgyDtls" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="DbtrSts" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CertId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="FrmsCd" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Prd" type="ar:TaxPeriod1" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ar:TaxAmount1" minOccurs="0"/>
      <xs:element name="AddtlInf" type="ar:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecord1_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Ctgy" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CtgyDtls" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="DbtrSts" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="CertId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="FrmsCd" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="Prd" type="ar:TaxPeriod1_TCH" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ar:TaxAmount1_TCH" minOccurs="0"/>
      <xs:element name="AddtlInf" type="ar:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecordDetails1">
    <xs:sequence>
      <xs:element name="Prd" type="ar:TaxPeriod1" minOccurs="0"/>
      <xs:element name="Amt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRecordDetails1_TCH">
    <xs:sequence>
      <xs:element name="Prd" type="ar:TaxPeriod1_TCH" minOccurs="0"/>
      <xs:element name="Amt" type="ar:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TaxRecordPeriod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HLF1"/>
      <xs:enumeration value="HLF2"/>
      <xs:enumeration value="MM01"/>
      <xs:enumeration value="MM02"/>
      <xs:enumeration value="MM03"/>
      <xs:enumeration value="MM04"/>
      <xs:enumeration value="MM05"/>
      <xs:enumeration value="MM06"/>
      <xs:enumeration value="MM07"/>
      <xs:enumeration value="MM08"/>
      <xs:enumeration value="MM09"/>
      <xs:enumeration value="MM10"/>
      <xs:enumeration value="MM11"/>
      <xs:enumeration value="MM12"/>
      <xs:enumeration value="QTR1"/>
      <xs:enumeration value="QTR2"/>
      <xs:enumeration value="QTR3"/>
      <xs:enumeration value="QTR4"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TaxRecordPeriod1Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HLF1"/>
      <xs:enumeration value="HLF2"/>
      <xs:enumeration value="MM01"/>
      <xs:enumeration value="MM02"/>
      <xs:enumeration value="MM03"/>
      <xs:enumeration value="MM04"/>
      <xs:enumeration value="MM05"/>
      <xs:enumeration value="MM06"/>
      <xs:enumeration value="MM07"/>
      <xs:enumeration value="MM08"/>
      <xs:enumeration value="MM09"/>
      <xs:enumeration value="MM10"/>
      <xs:enumeration value="MM11"/>
      <xs:enumeration value="MM12"/>
      <xs:enumeration value="QTR1"/>
      <xs:enumeration value="QTR2"/>
      <xs:enumeration value="QTR3"/>
      <xs:enumeration value="QTR4"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TransactionReferences4">
    <xs:sequence>
      <xs:element name="PmtInfId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="InstrId" type="ar:Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="ar:Max35Text"/>
      <xs:element name="TxId" type="ar:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
