public/schemas/UC_acclkup_FndtMsgBatch.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://fundtech.com/SCL/UC_acclkup_FndtMsgBatch" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://fundtech.com/SCL/UC_acclkup_FndtMsgBatch">
	<xs:element name="FndtMsgBatch" type="FndtMsgBatchType"/>
	<xs:complexType name="ResponseDetailsType">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" default="0" type="xs:int" name="ReturnCode"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Description"/>
			<xs:element minOccurs="0" maxOccurs="1" type="ErrorsListType" name="ErrorsList"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="DataArrayType" name="DataArray"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BatchHeaderType">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" type="ISODateTime" name="DeliveryTimestamp"/>
			<xs:element minOccurs="1" maxOccurs="1" type="xs:byte" name="NbOfTxs"/>
			<xs:element minOccurs="1" maxOccurs="1" type="ResponseDetailsType" name="ResponseDetails"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="contextName"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="contextLocalName"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Workflow"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_MID"/>
			<xs:element minOccurs="0" maxOccurs="1" type="ISODateTime" name="deliveryTimestamp"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_INIT_SRC_ID"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="EventID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditSideType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_CDT_ACCT_NB"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_CDT_ACCT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_CDT_ACCT_OFFICE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebitSideType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_DBT_ACCT_NB"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_DBT_ACCT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="P_DBT_ACCT_OFFICE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingPersistentInfoType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="CreditSideType" name="CreditSide"/>
			<xs:element minOccurs="0" maxOccurs="1" type="DebitSideType" name="DebitSide"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_FILE_PRIORITY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_BRANCH_CODE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_BRANCH_CODE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_SCT"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_SCT"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_SDD"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_SDD"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_ICT"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_ICT"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ACCT_ELECTR_DBTR_ALLOWED"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ACCT_PAPERB_DBTR_ALLOWED"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ACCT_MANUAL_DBTR_ALLOWED"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_CONTACT_BRANCH"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_CONTACT_BRANCH"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_SCT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_SCT_OFFICE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_SCT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_SCT_OFFICE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_SDD_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_SDD_OFFICE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_SDD_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_SDD_OFFICE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_ICT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_ORD_ACCT_FEE_ICT_OFFICE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_ICT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="U_BEN_ACCT_FEE_ICT_OFFICE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserDefinedFieldsType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="SystemType" name="System"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_DBT_ACCOUNTType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_DBT_ACCT_ASSET"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_ACCT_BOOKNG_ENT"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_ACCT_ACC_TYPE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="F_DBT_ACCT_IS_RESIDENT"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_DBT_ACCT_STOPFLAGDR"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_ACCT_REASONDR"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_DBT_ACCT_STOPFLAGCR"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_ACCT_REASONCR"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_CDT_ACCOUNTType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_CDT_ACCT_ASSET"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_ACCT_BOOKNG_ENT"/>			
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_ACCT_ACC_TYPE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="F_CDT_ACCT_IS_RESIDENT"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_CDT_ACCT_STOPFLAGDR"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_ACCT_REASONDR"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_CDT_ACCT_STOPFLAGCR"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_ACCT_REASONCR"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_DBT_CUST_PROFILEType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_CUST_CATEGORY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_CUST_NAME"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_PROFESSION"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_SWIFT_ID"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_ABA"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_ALIAS"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_BASE_NO"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_FEE_ACCOUNT_NO"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_FEE_ACCOUNT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_FEE_ACCOUNT_OFFICE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_DBT_CUST_STOPFLAGFROM"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_FROMREASON"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_DBT_CUST_STOPFLAGTO"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_TOREASON"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_COUNTRYCODE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_CITY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_ZIP"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_STATE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_ADDRESS1"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_ADDRESS2"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_ADDRESS3"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_DBT_CUST_ADDRESS4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_CDT_CUST_PROFILEType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_CUST_CATEGORY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_CUST_NAME"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_PROFESSION"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_SWIFT_ID"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_ABA"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_ALIAS"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_BASE_NO"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_FEE_ACCOUNT_NO"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_FEE_ACCOUNT_CCY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_FEE_ACCOUNT_OFFICE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_CDT_CUST_STOPFLAGFROM"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_FROMREASON"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:int" name="F_CDT_CUST_STOPFLAGTO"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_TOREASON"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_COUNTRYCODE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_CITY"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_ZIP"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_STATE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_ADDRESS1"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_ADDRESS2"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_ADDRESS3"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CDT_CUST_ADDRESS4"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_CONTACT_LINEType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_OF"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_NAME"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_DESCRIPTION"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_PHONE"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_FAX"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_EMAIL"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_ADDRESS1"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_ADDRESS2"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_ADDRESS3"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_ADDRESS4"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_ADDRESS5"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="F_CONTACT_ADDRESS6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="M_CONTACT_INFOType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="M_CONTACT_LINEType" name="M_CONTACT_LINE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferenceDataType">
		<xs:sequence>
			<xs:choice>
				<xs:element minOccurs="0" maxOccurs="1" type="M_DBT_ACCOUNTType" name="M_DBT_ACCOUNT"/>
				<xs:element minOccurs="0" maxOccurs="1" type="M_CDT_ACCOUNTType" name="M_CDT_ACCOUNT"/>
			</xs:choice>
			<xs:choice>
				<xs:element minOccurs="0" maxOccurs="1" type="M_DBT_CUST_PROFILEType" name="M_DBT_CUST_PROFILE"/>
				<xs:element minOccurs="0" maxOccurs="1" type="M_CDT_CUST_PROFILEType" name="M_CDT_CUST_PROFILE"/>
			</xs:choice>
			<xs:element minOccurs="0" maxOccurs="1" type="M_CONTACT_INFOType" name="M_CONTACT_INFO"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExtnType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="ProcessingPersistentInfoType" name="ProcessingPersistentInfo"/>
			<xs:element minOccurs="0" maxOccurs="1" type="UserDefinedFieldsType" name="UserDefinedFields"/>
			<xs:element minOccurs="0" maxOccurs="1" type="ReferenceDataType" name="ReferenceData"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Pmnt"/>
			<xs:element minOccurs="0" maxOccurs="1" type="ExtnType" name="Extn"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errorType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:short" name="code"/>
			<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorsListType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="errorType" name="error"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataArrayType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" type="xs:string" name="data"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FndtMsgType">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" type="HeaderType" name="Header"/>
			<xs:element minOccurs="1" maxOccurs="1" type="MsgType" name="Msg"/>
			<xs:element minOccurs="0" maxOccurs="1" type="ResponseDetailsType" name="ResponseDetails"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FndtPmntTxInfType">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" type="FndtMsgType" name="FndtMsg"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FndtMsgBatchType">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" type="BatchHeaderType" name="BatchHeader"/>
			<xs:element minOccurs="1" maxOccurs="1" type="FndtPmntTxInfType" name="FndtPmntTxInf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
</xs:schema>