public/schemas/unified_swift/SWIFT_PSM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified"
	targetNamespace="urn:fundtech/scl/SWIFT" 
	xmlns:tns="urn:fundtech/scl/SWIFT"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
  <xsd:annotation>
  	<xsd:documentation>
  		Extension to the swift-common.xsd schema defining the data implementation
  		for all Swift pass through messages. 
  		Defined Types: 
 			MT3XX, MT4XX, MT5XX, MT6XX, MT7XX, MT8XX and MT9XX   	
	</xsd:documentation>
  </xsd:annotation>
 
  <xsd:include schemaLocation="swift-common.xsd" />

  <xsd:complexType name="CommonType">
  	<xsd:complexContent> 
  		<xsd:extension base="tns:AbstractDataType"> 
		  	<xsd:sequence>
		 		<xsd:element maxOccurs="1" minOccurs="1" name="F20" type="tns:F20"/>
		 		<xsd:element maxOccurs="1" minOccurs="1" name="F32a" type="tns:CurrencyAndAmountType"/>
		    </xsd:sequence>
	    </xsd:extension>
	</xsd:complexContent>
  </xsd:complexType>


	<xsd:complexType name="Data_300">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_303">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_304">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_305">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_306">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_307">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_320">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_321">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_330">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_340">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_341">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_350">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_360">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_361">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_362">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_364">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_365">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_370">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_380">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_381">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_390">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_391">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_392">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_395">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_396">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_398">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_399">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_410">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_412">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_416">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_420">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_422">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_430">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_450">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_455">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_456">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_490">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_491">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_492">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_495">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_496">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_498">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_499">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_500">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_501">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_502">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_503">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_504">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_505">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_506">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_507">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_508">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_509">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_510">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_513">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_514">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_515">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_516">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_517">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_518">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_519">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_524">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_526">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_527">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_530">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_535">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_536">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_537">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_538">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_540">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_541">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_542">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_543">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_544">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_545">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_546">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_547">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_548">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_549">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_558">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_559">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_564">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_565">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_566">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_567">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_568">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_569">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_574">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	

	<xsd:complexType name="Data_575">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_576">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_577">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_578">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_579">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_581">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_586">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_590">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_591">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_592">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_595">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_596">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_598">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_599">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_600">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_601">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_604">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_605">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_606">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_607">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_608">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_609">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_620">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_643">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_644">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_646">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_649">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_670">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_671">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_690">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_691">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_692">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_695">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_696">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_698">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_699">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_700">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_701">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_705">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_707">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_710">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_711">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_720">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_721">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_730">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_732">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_734">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_740">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_742">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_747">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_750">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_752">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_754">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_756">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_760">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_767">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_768">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_769">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_790">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_791">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_792">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_795">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_796">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_798">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_799">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_800">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_801">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_802">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_824">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_890">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_891">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_892">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_895">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_896">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_898">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_899">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_920 ">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_935 ">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_973">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_985">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Data_986">
	 <xsd:complexContent> 
	   <xsd:extension base="tns:CommonType"/> 
	 </xsd:complexContent>
	</xsd:complexType>

    
    
</xsd:schema>
