public/schemas/unified_swift/swift-common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="SWIFT" type="SWIFTType" />
  
  <xsd:complexType name="SWIFTType"> 
  	<xsd:annotation>
		<xsd:appinfo source="xmlType">_SWIFT</xsd:appinfo>
		<xsd:appinfo source="paymentFieldJavaImpl">com.fundtech.core.paymentprocess.data.paymenttypes.SWIFTPaymentType</xsd:appinfo>
		<xsd:appinfo source="transient">false</xsd:appinfo>
	</xsd:annotation> 
	<xsd:sequence> 
	  <xsd:element minOccurs="0" maxOccurs="1" name="Header" type="HeaderType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Data" type="AbstractDataType" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Trailer" type="TrailerType" />
	</xsd:sequence>
	<xsd:attribute name="MT" type="Message_Type" use="required" />
  </xsd:complexType>
  
  <xsd:complexType name="AbstractDataType" abstract="true" />
  
  <xsd:complexType name="HeaderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Input_Output_Identifier" type="Input_Output_IdentifierType" />
      <xsd:element name="Sender_BIC" type="BIC" />
      <xsd:element name="Receiver_BIC" type="BIC" />
      <xsd:element name="Message_Priority" type="Message_Priority" />
      <xsd:element minOccurs="0" maxOccurs="1" name="User_Header" type="User_Header" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Original_Swift" type="Original_Swift" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Create_Date_Time" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Instd_Agent_Name" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Instg_Agent_Name" type="xsd:string"/>      
      <xsd:element minOccurs="0" maxOccurs="1" name="Msg_ID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ClrSysInstdCd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ClrSysInstgCd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ClrSysCd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Party_Identifier" type="Party_Identifier_35" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Settlement_Method" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Bank_Priority" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Sequence_Number"	type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Session_Number" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Page_Sequence_Number" type="xsd:int" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Last_Page_Indicator" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
    
  <xsd:complexType name="TrailerType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Message_Authentication_Code" type="Message_Authentication_Code" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Proprietary_Authentication_Code" type="Proprietary_Authentication_Code" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Checksum" type="Checksum" />
      <xsd:element minOccurs="0" maxOccurs="1" name="System_Originated_Message" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Test_And_Training_Message" type="Test_And_Training_Message" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Possible_Duplicate_Emission" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Delayed_Message" type="Delayed_Message" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Possible_Duplicate_Message" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Message_Reference" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="User_Header">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Service_Identifier" type="Service_Identifier_3" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Service_Type_Id" type="Service_Type_Id" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Unique_E2E_Reference" type="Unique_E2E_Reference" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Banking_Priority" type="Banking_Priority" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Message_User_Reference" type="Message_User_Reference" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Validation_Flag" type="xsd:boolean" />
      <!-- <xsd:element minOccurs="0" maxOccurs="1" name="Addressee_Information" type="xsd:string" /> -->
      <xsd:element minOccurs="0" maxOccurs="1" name="Address_Info" type="PstlAdrType" />
      
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="Input_Output_IdentifierType">
    <xsd:restriction base="xsd:string" >
      <xsd:enumeration value="I" />
      <xsd:enumeration value="O" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Message_Type">
    <xsd:restriction base="xsd:string">
		<xsd:enumeration value="101" />
		<xsd:enumeration value="102" />
		<xsd:enumeration value="103" />
		<xsd:enumeration value="191" />
		<xsd:enumeration value="192" />
		<xsd:enumeration value="195" />
		<xsd:enumeration value="196" />
		<xsd:enumeration value="199" />
		<xsd:enumeration value="200" /> <!-- For preview only. Will be saved and processed as 202 QC 28670 -->
		<xsd:enumeration value="202" />
		<xsd:enumeration value="202COV" />
		<xsd:enumeration value="203" />
		<xsd:enumeration value="204" />
		<xsd:enumeration value="210" />
		<xsd:enumeration value="291" />
		<xsd:enumeration value="292" />
		<xsd:enumeration value="295" />
		<xsd:enumeration value="296" />
		<xsd:enumeration value="299" />
		<xsd:enumeration value="300" />
		<xsd:enumeration value="400" />
		<xsd:enumeration value="900" />
		<xsd:enumeration value="910" />
		<xsd:enumeration value="190" />
		<xsd:enumeration value="290" />
		<xsd:enumeration value="400" />
		<xsd:enumeration value="950" />
		<xsd:enumeration value="940" />
		<xsd:enumeration value="940" />
		<xsd:enumeration value="941" />
		<xsd:enumeration value="942" />
		<xsd:enumeration value="999" />
		<xsd:enumeration value="298_011" />
		<xsd:enumeration value="298_012" />
		<xsd:enumeration value="298_013" />
		<xsd:enumeration value="298_014" />
		<xsd:enumeration value="198" />
		<xsd:enumeration value="198_027" />
		<xsd:enumeration value="198_028" /> 
		<xsd:enumeration value="198_036" />  
		<xsd:enumeration value="198_037" /> 
		<xsd:enumeration value="198_038" />    
		<xsd:enumeration value="298" />    
		<xsd:enumeration value="998" />    
		<!--  For SWIFT pass through messages for BDB -->
		<xsd:enumeration value="303" />
		<xsd:enumeration value="304" />
		<xsd:enumeration value="305" />
		<xsd:enumeration value="306" />
		<xsd:enumeration value="307" />
		<xsd:enumeration value="320" />
		<xsd:enumeration value="321" />
		<xsd:enumeration value="330" />
		<xsd:enumeration value="340" />
		<xsd:enumeration value="341" />
		<xsd:enumeration value="350" />
		<xsd:enumeration value="360" />
		<xsd:enumeration value="361" />
		<xsd:enumeration value="362" />
		<xsd:enumeration value="364" />
		<xsd:enumeration value="365" />
		<xsd:enumeration value="370" />
		<xsd:enumeration value="380" />
		<xsd:enumeration value="381" />
		<xsd:enumeration value="390" />
		<xsd:enumeration value="391" />
		<xsd:enumeration value="392" />
		<xsd:enumeration value="395" />
		<xsd:enumeration value="396" />
		<xsd:enumeration value="398" />
		<xsd:enumeration value="399" />
		<xsd:enumeration value="410" />
		<xsd:enumeration value="412" />
		<xsd:enumeration value="416" />
		<xsd:enumeration value="420" />
		<xsd:enumeration value="422" />
		<xsd:enumeration value="430" />
		<xsd:enumeration value="450" />
		<xsd:enumeration value="455" />
		<xsd:enumeration value="456" />
		<xsd:enumeration value="490" />
		<xsd:enumeration value="491" />
		<xsd:enumeration value="492" />
		<xsd:enumeration value="495" />
		<xsd:enumeration value="496" />
		<xsd:enumeration value="498" />
		<xsd:enumeration value="499" />
		<xsd:enumeration value="500" />
		<xsd:enumeration value="501" />
		<xsd:enumeration value="502" />
		<xsd:enumeration value="503" />
		<xsd:enumeration value="504" />
		<xsd:enumeration value="505" />
		<xsd:enumeration value="506" />
		<xsd:enumeration value="507" />
		<xsd:enumeration value="508" />
		<xsd:enumeration value="509" />
		<xsd:enumeration value="510" />
		<xsd:enumeration value="513" />
		<xsd:enumeration value="514" />
		<xsd:enumeration value="515" />
		<xsd:enumeration value="516" />
		<xsd:enumeration value="517" />
		<xsd:enumeration value="518" />
		<xsd:enumeration value="519" />
		<xsd:enumeration value="524" />
		<xsd:enumeration value="526" />
		<xsd:enumeration value="527" />
		<xsd:enumeration value="530" />
		<xsd:enumeration value="535" />
		<xsd:enumeration value="536" />
		<xsd:enumeration value="537" />
		<xsd:enumeration value="538" />
		<xsd:enumeration value="540" />
		<xsd:enumeration value="541" />
		<xsd:enumeration value="542" />
		<xsd:enumeration value="543" />
		<xsd:enumeration value="544" />
		<xsd:enumeration value="545" />
		<xsd:enumeration value="546" />
		<xsd:enumeration value="547" />
		<xsd:enumeration value="548" />
		<xsd:enumeration value="549" />
		<xsd:enumeration value="558" />
		<xsd:enumeration value="559" />
		<xsd:enumeration value="564" />
		<xsd:enumeration value="565" />
		<xsd:enumeration value="566" />
		<xsd:enumeration value="567" />
		<xsd:enumeration value="568" />
		<xsd:enumeration value="569" />
		<xsd:enumeration value="574" />
		<xsd:enumeration value="575" />
		<xsd:enumeration value="576" />
		<xsd:enumeration value="577" />
		<xsd:enumeration value="578" />
		<xsd:enumeration value="579" />
		<xsd:enumeration value="581" />
		<xsd:enumeration value="586" />
		<xsd:enumeration value="590" />
		<xsd:enumeration value="591" />
		<xsd:enumeration value="592" />
		<xsd:enumeration value="595" />
		<xsd:enumeration value="596" />
		<xsd:enumeration value="598" />
		<xsd:enumeration value="599" />
		<xsd:enumeration value="600" />
		<xsd:enumeration value="601" />
		<xsd:enumeration value="604" />
		<xsd:enumeration value="605" />
		<xsd:enumeration value="606" />
		<xsd:enumeration value="607" />
		<xsd:enumeration value="608" />
		<xsd:enumeration value="609" />
		<xsd:enumeration value="620" />
		<xsd:enumeration value="643" />
		<xsd:enumeration value="644" />
		<xsd:enumeration value="646" />
		<xsd:enumeration value="649" />
		<xsd:enumeration value="670" />
		<xsd:enumeration value="671" />
		<xsd:enumeration value="690" />
		<xsd:enumeration value="691" />
		<xsd:enumeration value="692" />
		<xsd:enumeration value="695" />
		<xsd:enumeration value="696" />
		<xsd:enumeration value="698" />
		<xsd:enumeration value="699" />
		<xsd:enumeration value="700" />
		<xsd:enumeration value="701" />
		<xsd:enumeration value="705" />
		<xsd:enumeration value="707" />
		<xsd:enumeration value="710" />
		<xsd:enumeration value="711" />
		<xsd:enumeration value="720" />
		<xsd:enumeration value="721" />
		<xsd:enumeration value="730" />
		<xsd:enumeration value="732" />
		<xsd:enumeration value="734" />
		<xsd:enumeration value="740" />
		<xsd:enumeration value="742" />
		<xsd:enumeration value="747" />
		<xsd:enumeration value="750" />
		<xsd:enumeration value="752" />
		<xsd:enumeration value="754" />
		<xsd:enumeration value="756" />
		<xsd:enumeration value="760" />
		<xsd:enumeration value="767" />
		<xsd:enumeration value="768" />
		<xsd:enumeration value="769" />
		<xsd:enumeration value="790" />
		<xsd:enumeration value="791" />
		<xsd:enumeration value="792" />
		<xsd:enumeration value="795" />
		<xsd:enumeration value="796" />
		<xsd:enumeration value="798" />
		<xsd:enumeration value="799" />
		<xsd:enumeration value="800" />
		<xsd:enumeration value="801" />
		<xsd:enumeration value="802" />
		<xsd:enumeration value="824" />
		<xsd:enumeration value="890" />
		<xsd:enumeration value="891" />
		<xsd:enumeration value="892" />
		<xsd:enumeration value="895" />
		<xsd:enumeration value="896" />
		<xsd:enumeration value="898" />
		<xsd:enumeration value="899" />
		<xsd:enumeration value="920" />
		<xsd:enumeration value="935" />
		<xsd:enumeration value="941" />     
		<xsd:enumeration value="942" />     
		<xsd:enumeration value="970" />     
		<xsd:enumeration value="971" />
		<xsd:enumeration value="972" />
		<xsd:enumeration value="973" />
		<xsd:enumeration value="985" />
		<xsd:enumeration value="986" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="Service_Identifier_3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:simpleType name="Banking_Priority">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Message_User_Reference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Service_Type_Id">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Unique_E2E_Reference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  
  <xsd:complexType name="Original_Swift">
    <xsd:sequence>
      <xsd:element name="Message" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ExtendedPartyInfoType">
    <xsd:sequence>
    	<xsd:element minOccurs="0" maxOccurs="1" name="PartyInfo" type="PartyInfoType" />
    	<xsd:element minOccurs="0" maxOccurs="1" name="F50F" type="DebtorType" />
  	</xsd:sequence>  
  </xsd:complexType>
  
  <xsd:complexType name="PartyInfoType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Account" type="Account" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CreditDebit" type="CreditDebit" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Party_Identifier" type="Party_Identifier_35" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Account_IBAN" type="IBANIdentifier" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Identifier_Code" type="Identifier_Code" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Location" type="Location" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PartyName" type="Max35Text" />
      <xsd:element minOccurs="0" maxOccurs="3" name="Address" type="Max35Text" />
      <xsd:element minOccurs="0" maxOccurs="1" name="FormatOption" type="FormatOption" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ClrSysCd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="SchmeNmCd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="5" name="Addr_info" type="PstlAdrType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="CreditDebit">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Party_Identifier_34">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="34" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifier_Code">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Location">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FormatOption">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BaseOneRate">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="10" />
      <xsd:totalDigits value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BIC">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="11" />
    </xsd:restriction>
  </xsd:simpleType>
 
  <xsd:simpleType name="Message_Priority">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NORM" />
      <xsd:enumeration value="HIGH" />
      <xsd:enumeration value="S" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Sign">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="+" />
      <xsd:enumeration value="-" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F20">
    <xsd:sequence>
      <xsd:element name="Sender_s_Reference" type="Sender_s_Reference" />
      <!-- <xsd:element name="Report_Code" type="xsd:string" /> -->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F28C">
    <xsd:sequence>
      <xsd:element name="Statement_Number" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F34F">
    <xsd:sequence>
      <xsd:element name="Currency" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateTimeIndication">
    <xsd:sequence>
      <xsd:element name="Date_Time_Ind" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F90">
    <xsd:sequence>
      <xsd:element name="Credit" type="Sum_and_Number" />
      <xsd:element name="Debit" type="Sum_and_Number" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sum_and_Number">
    <xsd:sequence>
      <xsd:element name="Sum" type="xsd:decimal" />
      <xsd:element name="Number" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BalanceInfoType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element name="Credit_Debit_Ind" type="xsd:string" />
      <xsd:element name="Date" type="xsd:date" />
      <xsd:element name="Currency" type="Currency" />
      <xsd:element name="Amount" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatementInfoType">
    <xsd:sequence>
      <xsd:element name="Value_Date" type="xsd:date" />
      <xsd:element name="Entry_Date" type="xsd:date" />
      <xsd:element name="Credit_Debit_Ind" type="xsd:string" />
      <xsd:element name="Reversal_Ind" type="xsd:string" />
      <xsd:element name="Status" type="xsd:string" />
      <xsd:element name="Amount" type="xsd:decimal" />
      <xsd:element name="Currency" type="Currency" />
      <xsd:element name="Transaction_Type" type="xsd:string" />
      <xsd:element name="Account_Owner_Ref" type="xsd:string" />
      <xsd:element name="Account_Servicing_Ref" type="xsd:string" />
      <xsd:element name="Supplementary_Details" type="xsd:string" />
      <xsd:element name="Line_Type" type="xsd:string" />
      <xsd:element name="Status_Details" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Sender_s_Reference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F21">
    <xsd:sequence>
      <xsd:element name="Related_Reference" type="Related_Reference" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F21F">
    <xsd:sequence>
      <xsd:element name="XchgrateCtrct" type="XchgrateCtrct" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F23">
    <xsd:sequence>
      <xsd:element name="Further_Identification" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F25A">
    <xsd:sequence>
      <xsd:element name="Account" type="Account" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Related_Reference">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XchgrateCtrct">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F13C">
    <xsd:sequence>
      <xsd:element name="Code" type="Code_8" />
      <xsd:element name="Time_indication" type="Time_indication" />
      <xsd:element name="Sign" type="Sign" />
      <xsd:element name="Time_offset" type="Time_offset" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Code_8">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Time_indication">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Time_offset">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F23B">
    <xsd:sequence>
      <xsd:element name="Type" type="Type_4" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Type_4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F23E">
    <xsd:sequence>
      <xsd:element name="Instruction" type="Instruction" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Additional_Information" type="Additional_Information" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Instruction">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Additional_Information">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F26T">
    <xsd:sequence>
      <xsd:element name="Type" type="Type_3" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Type_3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CurrencyAndAmountType">
    <xsd:sequence>
      <xsd:element name="Currency" type="Currency" />
      <xsd:element name="Amount" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AmountCollectedType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Currency" type="Currency" />
      <xsd:element minOccurs="1" maxOccurs="1" name="Amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Date" type="xsd:date" />
      <xsd:element minOccurs="0" maxOccurs="1" name="DateOrMonthCode" type="DateOrMonthCodes" />
      <xsd:element minOccurs="0" maxOccurs="1" name="DateOrMonthNumber" type="xsd:decimal" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MaturityPeriodCode" type="MaturityPeriodCodes" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F32A">
    <xsd:complexContent mixed="false">
      <xsd:extension base="CurrencyAndAmountType">
        <xsd:sequence>
          <xsd:element name="Date" type="xsd:date" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="F33A">
    <xsd:complexContent mixed="false">
      <xsd:extension base="CurrencyAndAmountType">
        <xsd:sequence>
          <xsd:element name="Date" type="xsd:date" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="DateOrMonthCodes">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1" />
      <xsd:enumeration value="D" />
      <xsd:enumeration value="M" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaturityPeriodCodes">
    <xsd:restriction base="xsd:string">
      <xsd:length value="2" />
      <xsd:enumeration value="BE" />
      <xsd:enumeration value="CC" />
      <xsd:enumeration value="FD" />
      <xsd:enumeration value="FP" />
      <xsd:enumeration value="GA" />
      <xsd:enumeration value="ID" />
      <xsd:enumeration value="ST" />
      <xsd:enumeration value="TD" />
      <xsd:enumeration value="XX" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Currency">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F36">
    <xsd:sequence>
      <xsd:element name="Rate" type="BaseOneRate" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F19">
    <xsd:sequence>
      <xsd:element name="Amount" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="IBANIdentifier">
	<xsd:restriction base="xsd:string">
	<xsd:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
	</xsd:restriction>
  </xsd:simpleType> 
  <xsd:simpleType name="Account">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="34" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Party_Identifier_35">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F70">
    <xsd:sequence>
      <xsd:element name="Narrative" type="Narrative_146" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Narrative_146">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="146" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- to be Removed as suggested by Oren   -->
   <xsd:complexType name="F71A">
    <xsd:sequence>
      <xsd:element name="Code" type="Code_4" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Code_4">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F71B">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ChargesDetails" type="Max35Text" />
      <!--  xsd:element minOccurs="0" maxOccurs="unbounded" name="ChargesDetails" type="ChargesDetails" / -->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F72">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PrevInstructAgent" type="PrevInstructAgentType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SndrToRcvrInf" type="SndrToRcvrInf" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="F73">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ChargesDetails" type="Max35Text" />
      <!--  xsd:element minOccurs="0" maxOccurs="unbounded" name="ChargesDetails" type="AmtAddedDetails" / -->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Narrative___Structured_Format">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="220" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Narrative___Structured_Format_Medium">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="700" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Narrative___Structured_Format_Big">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1750" />
    </xsd:restriction>
  </xsd:simpleType>
  <!--<xsd:complexType name="F77B">
    <xsd:sequence>
      <xsd:element name="Narrative" type="Narrative_109" />
    </xsd:sequence>
  </xsd:complexType>-->
  <xsd:simpleType name="Narrative_109">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="109" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F77T">
    <xsd:sequence>
      <xsd:element name="Envelope_Contents" type="Envelope_Contents" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Envelope_Contents">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9000" />
    </xsd:restriction>
  </xsd:simpleType>
 
  <xsd:simpleType name="Message_Authentication_Code">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Proprietary_Authentication_Code">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Checksum">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Delayed_Message">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Test_And_Training_Message">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InstructionForCreditorAgent2">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Cd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="InstrInf" type="Max35Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstructionForNextAgent2">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Cd" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="InstrInf" type="Max35Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SndrToRcvrInf">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Cd" type="SndrToRcvrInfCodes" />
      <xsd:element minOccurs="0" maxOccurs="1" name="InstrInf" type="Max35Text" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="NextAgentInstructionCodes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACC" />
      <xsd:enumeration value="/" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CreditorAgentInstructionCodes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="REC" />
      <xsd:enumeration value="INT" />
      <xsd:enumeration value="/" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Max35Text">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Max19Text">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SndrToRcvrInfCodes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACC" />
      <xsd:enumeration value="INS" />
      <xsd:enumeration value="INT" />
      <xsd:enumeration value="REC" />
      <xsd:enumeration value="ALCHAREF" />
      <xsd:enumeration value="BNF" />
      <xsd:enumeration value="OUCHAREF" />
      <xsd:enumeration value="PHONBEN" />
      <xsd:enumeration value="REC" />
      <xsd:enumeration value="TELEBEN" />
      <xsd:enumeration value="UCHAREF" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PrvsInstgAgt1">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="BIC" type="BICIdentifier" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BICIdentifier">
    <xsd:restriction base="xsd:string">
    <xsd:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Details">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="210" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="F11a">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="MT_DT" type="Max19Text" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TimeIndication">
    <xsd:sequence>
      <xsd:element name="CLSTIME" minOccurs="0" maxOccurs="1" type="xsd:time" /> <!-- X_STTLM_CLS_TM -->
      <xsd:element name="RNCTIME" minOccurs="0" maxOccurs="1" type="xsd:dateTime" /> <!-- X_STTLM_DBT_DT_TM -->
      <xsd:element name="SNDTIME" minOccurs="0" maxOccurs="1" type="xsd:dateTime" /> <!-- X_STTLM_CDT_DT_TM -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="BankOperCode">  <!-- X_SVC_LVL_PRTRY -->
    <xsd:restriction base="xsd:string">
      <xsd:length value="4" />
	  <xsd:enumeration value="CRED" />
      <xsd:enumeration value="CRTS" /> 
      <xsd:enumeration value="SPAY" />
      <xsd:enumeration value="SPRI" />
      <xsd:enumeration value="SSTD" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="InstrForAgentType">
    <xsd:sequence>      
      <xsd:element name="F23E_72_Code" minOccurs="0" maxOccurs="1">  <!-- X_INSTR_CDTR_AGT_CD -->
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="4"/>
            <xsd:enumeration value="ACC" />
            <xsd:enumeration value="PHOB" />
            <xsd:enumeration value="HOLD" />
            <xsd:enumeration value="CHQB" />
            <xsd:enumeration value="SSTD" />
            <xsd:enumeration value="TELB" />
            <xsd:enumeration value="REPA" />
		  </xsd:restriction>
		</xsd:simpleType>      
      </xsd:element>
      
      <xsd:element name="F23E_72_Information" type="xsd:string" minOccurs="0" maxOccurs="1"/>   <!-- X_INSTR_CDTR_AGT_INF -->   
    </xsd:sequence>  
  </xsd:complexType>
  

  <xsd:complexType name="InstrForNextAgentType">
    <xsd:sequence>      
      <xsd:element name="F23E_Code" minOccurs="0" maxOccurs="1"> <!-- X_INSTR_NXT_AGT_CD -->
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="3"/>
            <xsd:maxLength value="4"/>
            <xsd:enumeration value="TELA" />
            <xsd:enumeration value="TELB" />
            <xsd:enumeration value="PHOA" />
            <xsd:enumeration value="PHOB" />
            <xsd:enumeration value="REC" />
          </xsd:restriction>
        </xsd:simpleType>      
      </xsd:element>
      
      <xsd:element name="F23E_72_Information" type="xsd:string" minOccurs="0" maxOccurs="1"/>  <!-- X_INSTR_NXT_AGT_INF -->    
    </xsd:sequence>  
  </xsd:complexType>

  <xsd:complexType name="F23E_InstructionCode">
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="SvcLvlCd" type="xsd:string" fixed="SDVA" /> <!-- X_SVC_LVL_CD -->
      <xsd:element name="CategoryPurposeCode" type="CategoryPurposeCodeType"/> <!-- X_CTGY_PURP_CD -->
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="InstrForAgentsType">
    <xsd:sequence>
    	<xsd:element name="InstrsForCdtrAgent" type="InstrsForCdtrAgentType" minOccurs="0" maxOccurs="1" /> 
    	<xsd:element name="InstrsForNextAgent" type="InstrsForNextAgentType" minOccurs="0" maxOccurs="1" /> 
    </xsd:sequence>   
  </xsd:complexType>
  
  <xsd:complexType name="InstrsForCdtrAgentType"> 
  	<xsd:sequence>
  		<xsd:element name="InstrForCdtrAgent" type="InstrForAgentType" minOccurs="0" maxOccurs="unbounded"/>   <!-- X_INSTR_CDTR_AGT -->
  	</xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="InstrsForNextAgentType"> 
  	<xsd:sequence>
  		<xsd:element name="InstrForNextAgent" type="InstrForNextAgentType" minOccurs="0" maxOccurs="unbounded"/> <!-- X_INSTR_NXT_AGT -->
  	</xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="CategoryPurposeCodeType" >
    <xsd:restriction base="xsd:string">
      <xsd:length value="4" />
      <xsd:enumeration value="INTC" />
      <xsd:enumeration value="CORT" />
   </xsd:restriction>    
  </xsd:simpleType>  
    
  <xsd:complexType name="RemittanceInformation">
    <xsd:choice minOccurs="1" maxOccurs="unbounded">
      <xsd:element name="Unstructed" type="Narrative_146"/>  <!-- X_RMT_INF_USTRD -->
      <xsd:element name="EndToEnd" type="Narrative_146"/>    <!-- X_END_TO_END_ID -->  
    </xsd:choice>
  </xsd:complexType>
  
  <xsd:simpleType name="ChargesDetailsCode">
    <xsd:restriction base="xsd:string">
      <xsd:length value="4" />
      <xsd:enumeration value="CRED" />
      <xsd:enumeration value="DEBT" />
      <xsd:enumeration value="SHAR" />
    </xsd:restriction>
  </xsd:simpleType>
    
  <xsd:complexType name="SenderToReceiverInfo">  
     <xsd:sequence>
           <xsd:element name="PrevInstructAgent" type="PrevInstructAgentType" minOccurs="0" maxOccurs="unbounded" /> 
           <xsd:element name="Info" type="xsd:string" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PrevInstructAgentType">  
     <xsd:sequence>
           <xsd:element name="ClrSysCd" type="xsd:string" minOccurs="0" maxOccurs="1" />
           <xsd:element name="Party_Identifier" type="Party_Identifier_35" />
           <xsd:element name="BIC" type="BIC" minOccurs="0" maxOccurs="1"/>
           <xsd:element name="AgtName" type="xsd:string" minOccurs="0" maxOccurs="1"/>           
     </xsd:sequence>
  </xsd:complexType>  
  
   <xsd:complexType name="F25">  
     <xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="1" name="Account" type="Account" />
			<xsd:element name="BIC" type="BIC" minOccurs="0" maxOccurs="1"/>             
     </xsd:sequence>
  </xsd:complexType>  

  <xsd:complexType name="RegulatoryReporting">
    <xsd:sequence>
      <xsd:element name="RegReporting" type="RegulatoryReportingInf" minOccurs="0" maxOccurs="unbounded"/> <!--X_RGLTRY_RPTG_DTLS -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RegulatoryReportingInf">  
    <xsd:sequence>
      <xsd:element name="Details" type="Narrative_109" minOccurs="0" maxOccurs="unbounded"/> <!--X_RGLTRY_RPTG_DTLS_INF -->
    </xsd:sequence>
  </xsd:complexType> 
 
  <xsd:complexType name="DebtorType">
    <xsd:sequence>
      <xsd:element name="Id" type="DebtorIdType" minOccurs="0" maxOccurs="1"/><!-- X_DBTR_ID -->
      <xsd:element name="PstlAdr" type="PstlAdrType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PartyName" type="xsd:string" minOccurs="0" maxOccurs="1"/>     <!-- X_DBTR_NM -->
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="PstlAdrType">
    <xsd:sequence>
      <xsd:element name="Address" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/> <!-- X_DBTR_ADRLINE -->
      <xsd:element name="BldgNb" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="StrtNm" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="1"/>  <!-- X_DBTR_CTRY -->
      <xsd:element name="TwnNm" type="xsd:string" minOccurs="0" maxOccurs="1"/> <!-- X_DBTR_CITY -->   
      <xsd:element name="CtrySubDvsn" type="xsd:string" minOccurs="0" maxOccurs="1"/> <!-- State, Region or County -->
      <xsd:element name="PstCd" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>  
  </xsd:complexType> 
  
  <xsd:complexType name="DebtorIdType">
    <xsd:sequence>
      <xsd:element name="PrvtId" type="PrvtIdType" minOccurs="0" maxOccurs="unbounded"/> <!-- X_DBTR_PRVTID_OTHR  -->      
    </xsd:sequence>
  </xsd:complexType>  
  
  <xsd:complexType name="PrvtIdType">
    <xsd:sequence>
      <xsd:element name="Othr" minOccurs="0" maxOccurs="unbounded">
	   <xsd:complexType>
	     <xsd:sequence>
	       <xsd:element name="Id" type="xsd:string"  minOccurs="0" maxOccurs="1"/><!-- X_DBTR_PRVTID_OTHR_ID -->
	       <xsd:element name="SchmeNmCd" type="xsd:string" minOccurs="0" maxOccurs="1"/> <!-- X_DBTR_PRVTID_OTHR_CD -->
		   <xsd:element name="Issr" type="xsd:string" minOccurs="0" maxOccurs="1"/>    <!-- X_DBTR_PRVTID_OTHR_ISSR -->
	     </xsd:sequence>
	   </xsd:complexType> 
      </xsd:element>
      <xsd:element name="DtAndPlcOfBirth" minOccurs="0" maxOccurs="1">
	    <xsd:complexType>
	     <xsd:sequence>
	       <xsd:element name="BirthDt" type="xsd:date"  minOccurs="0" maxOccurs="1"/> <!-- X_DBTR_BIRTHDT -->
	       <xsd:element name="CityOfBirth" type="xsd:string"  minOccurs="0" maxOccurs="1"/> <!--X_DBTR_CITYOFBIRTH-->
	       <xsd:element name="CtryOfBirth" type="xsd:string"  minOccurs="0" maxOccurs="1"/>  <!-- X_DBTR_CTRYOFBIRTH -->          
	     </xsd:sequence>
	   </xsd:complexType>       
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
   
  <xsd:complexType name="F12">
    <xsd:sequence>
      <xsd:element name="Sub_Msg_Type" type="Sub_Msg_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Sub_Msg_Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="M10">
    <xsd:sequence>
      <xsd:element name="Response_Code" type="Response_Code" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Response_Code">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="F11S">
    <xsd:sequence>
      <xsd:element name="MT_DateofOrigMsg" type="Max19Text" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="F13D">
    <xsd:sequence>
      <xsd:element name="DateTimeIndication" type="DateTimeIndication" />
    </xsd:sequence>
  </xsd:complexType>
  
   <xsd:complexType name="CustomerSpecifiedReference">
    <xsd:sequence>
      <xsd:element name="CustomerSpecifiedReference" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="Authorisation">
    <xsd:sequence>
      <xsd:element name="Authorisation" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="MessageIndexTotal">
    <xsd:sequence>
      <xsd:element name="MessageIndexTotal" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  
      <xsd:complexType name="RequestedExecutionDate">
    <xsd:sequence>
      <xsd:element name="RequestedExecutionDate" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
     
     
</xsd:schema>