public/schemas/ClearingSchemas/DIAS/DIASMCTFH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sw1="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
	xmlns:sw2="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
	xmlns:ns1="urn:iso:std:iso:20022:tech:xsd:camt.054.001.03"
	xmlns:ns2="urn:iso:std:iso:20022:tech:xsd:camt.055.001.02"
	xmlns:DMCTfh="urn:DMCTfh:xsd:$DIASMCTFH"
	targetNamespace="urn:DMCTfh:xsd:$DIASMCTFH"
	elementFormDefault="qualified">
	<!--Schema version 1.0 - Generated by LIST on 2011 June 01 -->
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"
		schemaLocation="pain.001.001.03.xsd" />
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:pain.002.001.03"
		schemaLocation="pain.002.001.03.xsd" />
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:camt.054.001.03"
		schemaLocation="camt.054.001.03.xsd" />
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:camt.055.001.02"
		schemaLocation="camt.055.001.02.xsd" />
	
	<xs:element name="DIASMCTFH">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DIASFileHdr" type="DMCTfh:HeaderType" />
				<xs:element name="CstmrCdtTrfInitn" type="sw1:CustomerCreditTransferInitiationV03" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="CstmrPmtStsRpt"   type="sw2:CustomerPaymentStatusReportV03" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="BkToCstmrDbtCdtNtfctn" type="ns1:BankToCustomerDebitCreditNotificationV03" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="CstmrPmtCxlReq" type="ns2:CustomerPaymentCancellationRequestV02" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element name="SndgInst" type="DMCTfh:Max11Text" />
			<xs:element name="RcvgInst" type="DMCTfh:Max11Text" />
			<xs:element name="FileRef" type="DMCTfh:Max16Text" />
			<xs:element name="SrvcID" type="DMCTfh:SrvcID" />
			<xs:element name="TstCode" type="DMCTfh:TestCodeType" />
			<xs:element name="FType" type="DMCTfh:FType" />
			<xs:element name="NumGrp" type="DMCTfh:Max8NumericText" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max11Text">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{5,11}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{16,16}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z]{3,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max8NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
