public/schemas/ClearingSchemas/DIAS/DIASSCTFH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:sw8="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02"
	xmlns:sw6="urn:iso:std:iso:20022:tech:xsd:camt.056.001.01"
	xmlns:sw2="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03"
	xmlns:sw4="urn:iso:std:iso:20022:tech:xsd:pacs.004.001.02"
	xmlns:sw9="urn:iso:std:iso:20022:tech:xsd:camt.029.001.03"
	xmlns:DSCTfh="urn:DSCTfh:xsd:$DIASSCTFH"
	targetNamespace="urn:DSCTfh:xsd:$DIASSCTFH"
	elementFormDefault="qualified">
	<!--Schema version 1.0 - Generated by LIST on 2010 May 19 -->
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02"
		schemaLocation="pacs.008.001.02.xsd" />
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:camt.056.001.01"
		schemaLocation="camt.056.001.01.xsd" />
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03"
		schemaLocation="pacs.002.001.03.xsd" />
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:pacs.004.001.02"
		schemaLocation="pacs.004.001.02.xsd" />
	<xs:import
		namespace="urn:iso:std:iso:20022:tech:xsd:camt.029.001.03"
		schemaLocation="camt.029.001.03.xsd" />
		
	<xs:element name="DIASSCTFH">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DIASFileHdr" type="DSCTfh:HeaderType" />
				<xs:element name="FIToFICstmrCdtTrf"
					type="sw8:FIToFICustomerCreditTransferV02" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="FIToFIPmtCxlReq"
					type="sw6:FIToFIPaymentCancellationRequestV01" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="FIToFIPmtStsRpt"
					type="sw2:FIToFIPaymentStatusReportV03" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="PmtRtr"
					type="sw4:PaymentReturnV02" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RsltnOfInvstgtn"
					type="sw9:ResolutionOfInvestigationV03" minOccurs="0" maxOccurs="unbounded" />
	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element name="SndgInst" type="sw8:BICIdentifier" />
			<xs:element name="RcvgInst" type="sw8:BICIdentifier" />
			<xs:element name="FileRef" type="DSCTfh:Max16Text" />
			<xs:element name="SrvcID" type="DSCTfh:SrvcID" />
			<xs:element name="TstCode" type="DSCTfh:TestCodeType" />
			<xs:element name="FType" type="DSCTfh:FType" />
			<xs:element name="NumGrp" type="DSCTfh:Max8NumericText" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{16,16}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z]{3,3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TestCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max8NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
