public/schemas/nacha/nacha.001.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--  rollback -->
<xs:schema xmlns="urn:fundtech.nacha.001"
           elementFormDefault="qualified"
           targetNamespace="urn:fundtech.nacha.001"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="NACHA"
                type="NachaType" />
                
	<xs:complexType name="NachaType">
		<xs:sequence>
			<xs:element name="FileData"
                        type="FileDataType" />
			<xs:element name="BtchData"
                        type="BtchDataType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImmdtPtyType">
		<xs:sequence>
			<xs:element name="PtyId"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="Nm"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="ClrSysId"
                        type="ClearingSystemIdentification2Choice"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="StndrdEntryClassType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ARC" />
			<xs:enumeration value="BOC" />
			<xs:enumeration value="CCD" />
			<xs:enumeration value="CTX" />
			<xs:enumeration value="IAT" />
			<xs:enumeration value="POP" />
			<xs:enumeration value="POS" />
			<xs:enumeration value="SHR" />
			<xs:enumeration value="TRC" />
			<xs:enumeration value="TRX" />
			<xs:enumeration value="PPD" />
			<xs:enumeration value="MTE" />
			<xs:enumeration value="RCK" />
			<xs:enumeration value="TEL" />
			<xs:enumeration value="WEB" />
			<xs:enumeration value="XCK" />
			<xs:enumeration value="CIE" />
			<xs:enumeration value="DNE" />
			<xs:enumeration value="ENR" />
			<xs:enumeration value="ADV" />
			<xs:enumeration value="ACK" />
			<xs:enumeration value="ATX" />
			<xs:enumeration value="COR" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SrvcClsCdType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="200" />
			<xs:enumeration value="220" />
			<xs:enumeration value="225" />
			<xs:enumeration value="250" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgtrStsCdType">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
  			<xs:minLength value="1"/>
  			<xs:maxLength value="5"/>
 		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="AccountTypeCode">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max1Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
 <xs:complexType name="AccountTypeChoice">
    <xs:choice>
      <xs:element name="Cd" type="AccountTypeCode"/>
      <xs:element name="Prtry" type="Max35Text"/>
    </xs:choice>
  </xs:complexType>
	<xs:complexType name="OrgtrPtyType">
		<xs:sequence>
			<xs:element name="Nm"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="OrgId"
                        type="OrgIdType"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TxnDataType">
		<xs:sequence>
			<xs:element name="OrgnlNacha"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name ="OrgnlMsgNmId"
			            type="xs:string"
			            minOccurs="0"
			            maxOccurs="1"  />	
			<xs:element name="TxnCd"
                        type="xs:integer"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="TxnTpAlias"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />           
			<xs:element name="TrcNb"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="InstrId"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="IdNb"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="AddndRcrdInd"
                        type="xs:boolean"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="NbOfAddnds"
                        type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1" />
                        <xs:element name="ProcessingCd" type="Max1Text" minOccurs="0" maxOccurs="1" />
			<xs:element name="OdfiDiscrtData"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="ChckSrlNb"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="CtrlPrcsFld"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="ItmRsrchNb"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="TrmnlCty"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="TrmnlState"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="RmtInf"
                        type="RmtInfType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="Amt"
                        minOccurs="1"
                        maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="Ccy"
                                          type="xs:string"
                                          use="required" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>  

			<xs:element name="Dbtr"
                        type="CustomerType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="DbtrAgt"
                        type="DfiAgtPtyType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="Cdtr"
                        type="CustomerType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="CdtrAgt"
                        type="DfiAgtPtyType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="AddndData"
                        type="AddndDataType"
                        minOccurs="0"
                        maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BtchDataType">
		<xs:sequence>
			<xs:element name="StndrdEntryCls"
                        type="StndrdEntryClassType"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="SrvcClsCd"
                        type="SrvcClsCdType"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="OrgtrStsCd"
                        type="OrgtrStsCdType"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="OrgtrPty"
                        type="CustomerType"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="EfctvEntryDt"
                        type="xs:date"
                        minOccurs="0" />
			<xs:element name="SttlmDt"
                        type="xs:date"
                        minOccurs="0" />
			<xs:element name="CmpnyEntryDscrptn"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="CmpnyDiscrtData"
                        type="xs:string"
                        minOccurs="0" />
			<xs:element name="TxnData"
                        type="TxnDataType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FileDataType">
		<xs:sequence>
			<xs:element name="CreDtTm"
                        type="xs:dateTime"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="ImmdtOrgnFI"
                        type="ImmdtPtyType"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="ImmdtDstn"
                        type="ImmdtPtyType"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="ImmdtOrgnCU"
                        type="OrgtrPtyType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="ClrSysNm"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerType">
		<xs:sequence>
			<xs:element name="PtyId"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="Nm"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="AcctId"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgId"
                        type="OrgIdSchemeType"
                        minOccurs="0"
                        maxOccurs="1" />
      <xs:element name="AcctTp" type="AccountTypeChoice" maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DfiAgtPtyType">
		<xs:sequence>
			<xs:element name="PtyId"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="Nm"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="ClrSysId"
                        type="ClearingSystemIdentification2Choice"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddndDataType">
		<xs:sequence>
			<xs:element name="TypeCd"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="AddndTpOthr"
                        type="AddndTpOthrType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="AddndTp2_98_99"
                        type="AddndTp2_98_99Type"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="PmtRltdInf"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="AddndTpIAT10"
                        minOccurs="0" />
			<xs:element name="AddndTpIAT11"
                        minOccurs="0" />
			<xs:element name="AddndTpIAT12"
                        minOccurs="0" />
			<xs:element name="AddndTpIAT13"
                        minOccurs="0" />
			<xs:element name="AddndTpIAT14"
                        minOccurs="0" />
			<xs:element name="AddndTpIAT15"
                        minOccurs="0" />
			<xs:element name="AddndTpIAT16"
                        minOccurs="0" />
			<xs:element name="AddndTpIAT18"
                        minOccurs="0" />
			<xs:element name="AddndTpRrtrn99"
                        type="AddndTpRrtrn99Type"
                        minOccurs="0" />
			<xs:element name="AddndTpCOR98"
                        type="AddndTpCOR98Type"
                        minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddndTpOthrType">
		<xs:sequence>
			<xs:element name="EntrySeqNb"
                        type="xs:integer"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="SeqNb"
                        type="xs:integer"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddndTp2_98_99Type">
		<xs:sequence>
			<xs:element name="TrcNb"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="OrgnlTrcNb"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
			<xs:element name="OrgnlDbtrAgt"
                        type="DfiAgtPtyType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlCdtrAgt"
                        type="DfiAgtPtyType"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="RsnCd"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="AddtnlInf"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgIdType">
		<xs:sequence>
			<xs:element name="Id"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RmtInfType">
		<xs:sequence>
			<xs:element name="Ustrd"
                        type="xs:string"
                        minOccurs="1"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgIdSchemeType">
		<xs:sequence>
			<xs:element name="SchmeNm">
				<xs:complexType>
					<xs:sequence>
					  <xs:choice>
			                <xs:element name="Cd" type="xs:string"/>
	        		        <xs:element name="Prtry" type="xs:string"/>
            			</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddndTpCOR98Type">
		<xs:sequence>
			<xs:element name="OrgnlCORChngCd"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlCorSeqNb"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddndTpRrtrn99Type">
		<xs:sequence>
			<xs:element name="OrgnlDisRtrnRsnCd"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlDisRtrnSttlmtDt"
                        type="xs:date"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlDisRtrnTrcNb"
                        type="xs:long"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlRtrnRsnCd"
                        type="xs:string"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlRtrnSttlmtDt"
                        type="xs:date"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlRtrnTrcNb"
                        type="xs:long"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlTxnSttlmtDt"
                        type="xs:date"
                        minOccurs="0"
                        maxOccurs="1" />
			<xs:element name="OrgnlTxnRtrndDt"
                        type="xs:date"
                        minOccurs="0"
                        maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
 		<xs:choice>
  			<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
  			<xs:element name="Prtry" type="Max35Text"/>
 		</xs:choice>
	</xs:complexType>
</xs:schema>