public/schemas/ClearingSchemas/AC/mdte.002.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: BankservAfrica
Collection: BSVA_AC_Mandates-TRS16
BankservAfrica version : BSVA04 20170118
<Mndt> made optional
-->
<xs:schema xmlns="urn:bsva:std:tech:xsd:mdte.002.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:bsva:std:tech:xsd:mdte.002.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice__1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Othr" type="GenericAccountIdentification1__1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice__2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Othr" type="GenericAccountIdentification1__2"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5__1">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5__2">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8__2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BSVA_AdjCurrencyAndAmount_1">
		<xs:simpleContent>
			<xs:extension base="BSVA_AdjCurrencyAndAmount_SimpleType_1">
				<xs:attribute name="Ccy" type="CurrencyCode_fixed" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="BSVA_AdjCurrencyAndAmount_SimpleType_1">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSVA_AdjustmentRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSVA_Max11Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BSVA_Max15CurrencyAmount__1">
		<xs:simpleContent>
			<xs:extension base="BSVA_Max15CurrencyAmount__1_SimpleType">
				<xs:attribute name="Ccy" type="CurrencyCode_fixed" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="BSVA_Max15CurrencyAmount__1_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="15"/>
			<xs:minInclusive value="0"/>
			<xs:pattern value="[0-9]+(\.[0-9][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSVA_Max19NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="19"/>
			<xs:pattern value="[0-9]{1,19}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSVA_Max1Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSVA_Max23Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="23"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSVA_Max2NumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BSVA_Max90Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="90"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CashAccount24__1">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount24__2">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice__2"/>
			<xs:element name="Tp" type="CashAccountType2Choice__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2Choice__1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCashAccountType1Code"/>
				<xs:element name="Prtry" type="Max12Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2__1">
		<xs:sequence>
			<xs:element name="MmbId" type="Max6Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2__1">
		<xs:sequence>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="BSVA_Max90Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contents"/>
	<xs:simpleType name="CurrencyCode_fixed">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ZAR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DatePeriodDetails1__1">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MndtRspnsMsg" type="MandateResponseMessageV01"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalCashAccountType1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalMandateReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentification8__1">
		<xs:sequence>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8__2">
		<xs:sequence>
			<xs:element name="Othr" type="GenericFinancialIdentification1__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Frequency6Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="FRTN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification1__1">
		<xs:sequence>
			<xs:element name="Id" type="BSVA_Max19NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1__2">
		<xs:sequence>
			<xs:element name="Id" type="BSVA_Max19NumericText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1__1">
		<xs:sequence>
			<xs:element name="Id" type="Max6Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1__1">
		<xs:sequence>
			<xs:element name="Id" type="BSVA_Max11Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1__2">
		<xs:sequence>
			<xs:element name="Id" type="BSVA_Max23Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1__3">
		<xs:sequence>
			<xs:element name="Id" type="Max10Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1__1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader47__1">
		<xs:sequence>
			<xs:element name="MsgId" type="Max34Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5__1"/>
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice__1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
				<xs:element name="Prtry" type="Max4Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Mandate4">
		<xs:sequence>
			<xs:element name="MndtStatus" type="MandateStatusCode"/>
			<xs:element name="MndtId" type="Max35Text"/>
			<xs:element name="MndtReqId" type="Max14Text"/>
			<xs:element name="Tp" type="MandateTypeInformation1__1"/>
			<xs:element name="Ocrncs" type="MandateOccurrences2__1"/>
			<xs:element name="ColltnAmt" type="BSVA_Max15CurrencyAmount__1" minOccurs="0"/>
			<xs:element name="MaxAmt" type="BSVA_Max15CurrencyAmount__1"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification43__2" minOccurs="0"/>
			<xs:element name="Cdtr" type="PartyIdentification43__3"/>
			<xs:element name="CdtrAcct" type="CashAccount24__1"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5__1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification43__4"/>
			<xs:element name="Dbtr" type="PartyIdentification43__5"/>
			<xs:element name="DbtrAcct" type="CashAccount24__2"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5__1"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification43__1" minOccurs="0"/>
			<xs:element name="AthntctnTp" type="Max9Text"/>
			<xs:element name="CllctnDy" type="BSVA_Max2NumericText"/>
			<xs:element name="DtAdjRl" type="Max1Text"/>
			<xs:element name="AdjstCtgy" type="Max1Text"/>
			<xs:element name="AdjstRt" type="BSVA_AdjustmentRate" minOccurs="0"/>
			<xs:element name="AdjstAmt" type="BSVA_AdjCurrencyAndAmount_1" minOccurs="0"/>
			<xs:element name="Chnnl" type="Max20Text"/>
			<xs:element name="MndtRfNbr" type="Max22Text"/>
			<xs:element name="FrstColltnAmt" type="BSVA_Max15CurrencyAmount__1" minOccurs="0"/>
			<xs:element name="DbVlTp" type="Max11Text"/>
			<xs:element name="MndtAthDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateOccurrences2__1">
		<xs:sequence>
			<xs:element name="SeqTp" type="SequenceType2Code"/>
			<xs:element name="Frqcy" type="Frequency6Code"/>
			<xs:element name="Drtn" type="DatePeriodDetails1__1"/>
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateRequestInformation">
		<xs:sequence>
			<xs:element name="MndtInfRqstId" type="Max35Text"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification5__2"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5__2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateResponse">
		<xs:sequence>
			<xs:element name="MndtRqstInfo" type="MandateRequestInformation"/>
			<xs:element name="RspnsRslt" type="ResponseResult"/>
			<xs:element name="Mndt" type="Mandate4" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateResponseMessageV01">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader47__1"/>
			<xs:element name="MndtRspns" type="MandateResponse" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MandateResponseReasonCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MDNF"/>
			<xs:enumeration value="NMTC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MandateStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTV"/>
			<xs:enumeration value="SUSP"/>
			<xs:enumeration value="CNCL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MandateTypeInformation1__1">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice__1"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max10Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max11Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max12Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max14Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max1Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max20Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max22Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="22"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max350Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max6Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max8Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max9Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[A-Za-z0-9\.\-\*,\(\) %\+$;=@\?:~/]*"/>				
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification8__1">
		<xs:sequence>
			<xs:element name="Othr" type="GenericOrganisationIdentification1__1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification8__2">
		<xs:sequence>
			<xs:element name="Othr" type="GenericOrganisationIdentification1__2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification8__3">
		<xs:sequence>
			<xs:element name="Othr" type="GenericOrganisationIdentification1__3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalMandate2Choice__1"/>
	<xs:complexType name="Party11Choice__1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification8__1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice__2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification8__2"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice__3">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification8__3"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice__4">
		<xs:sequence>
			<xs:choice>
				<xs:element name="PrvtId" type="PersonIdentification5__1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43__1">
		<xs:sequence>
			<xs:element name="Nm" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43__2">
		<xs:sequence>
			<xs:element name="Id" type="Party11Choice__1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43__3">
		<xs:sequence>
			<xs:element name="Nm" type="Max35Text"/>
			<xs:element name="Id" type="Party11Choice__2"/>
			<xs:element name="CtctDtls" type="ContactDetails2__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43__4">
		<xs:sequence>
			<xs:element name="Nm" type="Max35Text" minOccurs="0"/>
			<xs:element name="Id" type="Party11Choice__3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43__5">
		<xs:sequence>
			<xs:element name="Nm" type="Max35Text"/>
			<xs:element name="Id" type="Party11Choice__4"/>
			<xs:element name="CtctDtls" type="ContactDetails2__1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5__1">
		<xs:sequence>
			<xs:element name="Othr" type="GenericPersonIdentification1__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReferredDocumentInformation3__1">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2__1"/>
			<xs:element name="Nb" type="Max8Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice__1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Prtry" type="Max4Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2__1">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice__1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RejectReason">
		<xs:sequence>
			<xs:element name="Rsn" type="MandateResponseReasonCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RequestTransmissionNumber">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResponseResult">
		<xs:sequence>
			<xs:element name="AccptdId" type="YesNoIndicator"/>
			<xs:element name="RjctRsn" type="RejectReason" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SequenceType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice__1">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Prtry" type="BSVA_Max1Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
